
<!--button-->
<link rel="stylesheet" type="text/css" href="../../static/css/default.css"/>
<link rel="stylesheet" type="text/css" href="../../static/css/button.css"/>
<!--all manager list-->
<link type="text/css" rel="stylesheet" href="../../static/css/manager_list.css"/>
<link type="text/css" rel="stylesheet" href="../../static/css/menu_list.css"/>
<link type="text/css" rel="stylesheet" href="../../static/css/table.css"/>
<link type="text/css" rel="stylesheet" href="../../static/css/paging.css"/>

<style media="screen">

    .btn {
        padding: 10px 20px;
        width: max-content;
        font-size: 0.8rem;
        margin-top: 0;
    }


    input {
        height: 30px;
    }

    select {
        height: 30px;
    }
</style>