<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/menu_layout}">
<head>
    <title>전체 매니저 목록</title>
    <link th:href="@{/css/manager_list.css}" rel="stylesheet"/>

    <style media="screen">
        .btn {
            padding: 10px 20px;
            width: max-content;
            font-size: 0.8rem;
            margin-top: 0;
        }

        input {
            height: 30px;
        }

        select {
            height: 30px;
        }
    </style>
</head>

<th:block layout:fragment="ground-wrap">
    <div class="ground">
        <div class="main">
            <div class="all_manaer_list">
                <div class="title1">
                    <h1>전체 매니저 목록</h1>
                </div>
                <div class="select-wrap1">
                    <select name="list_align" class="list_align">
                        <option value="manager_score" selected="selected">평점순</option>
                        <option value="manager_name">매니저명</option>
                        <option value="join_date">가입일자</option>
                    </select>
                    <div class="search">
                        <select name="searchType" id="searchType" class="select_search">
                            <option value="manager_name" selected="selected">매니저명</option>
                            <option value="manager_id">매니저ID</option>
                        </select>
                        <label>
                            <input name="search" type="text" placeholder="검색어 입력" th:value="${param.searchValue}"/>
                        </label>
                        <button class="btn btn-6 btn-6b search-btn">검색</button>
                        <br/>
                    </div>
                </div>
                <div>
                    <table width="700" border="0" cellspacing="0" cellpadding="0" class="list_text_center">

                        <tr>
                            <th scope="col">INDEX</th>
                            <th scope="col">매니저ID</th>
                            <th scope="col">매니저명</th>
                            <th scope="col">전화번호</th>
                            <th scope="col">가입일자</th>
                            <th scope="col">평점</th>
                            <th scope="col">사용자관리</th>
                        </tr>
                        <tr th:if="${not #lists.isEmpty( users )}" th:each="user : ${users}" \>
<!--                            인덱스 수정 필요-->
                            <td class="line" th:text="${userStat.count}"></td>
                            <td class="line" th:text="${user.id}"></td>
                            <td class="line" th:text="${user.username}"></td>
                            <td class="line" th:text="${user.userTel}"></td>
                            <td class="line" th:text="${#temporals.format(user.user_joindate, 'yyyy-MM-dd')}"></td>
                            <td class="line" th:text="${user.managerScore}"></td>
                            <td class="line">
                                <button class="btn btn-6 btn-6b" onclick="location.href='manager_detail'">관리
                                </button>
                            </td>
                        </tr>
<!--                        적용 안 되는 상태-->
                        <tr th:unless="${not #lists.isEmpty( users )}">
                            <td class="line">조회된 결과가 없습니다.</td>
                        </tr>
                    </table>

                </div>
                <div class="page_wrap">
                    <div class="page_nation">
                        <ul class="page_ul"
                             th:with="start=${T(Math).floor(users.number/10)*10 + 1},
                                  last=(${start + 9 < users.totalPages ? start + 9 : users.totalPages})">
                            <li class="page_li">
                                <a class="arrow pprev" th:href="@{/all_manager_list(page=1)}"></a>
                            </li>
                            <li class="page_li">
                                <a class="arrow prev" th:href="${users.first} ? '#' : @{/all_manager_list(page=${users.number})}"></a>
                            </li>
                            <li  class="page_li" th:each="page: ${#numbers.sequence(start, last)}">
                                <a th:text="${page}" th:class="${page == users.number + 1} ? 'active'" th:href="@{/all_manager_list(page=${page})}"></a>
                            </li>
                            <li class="page_li">
                                <a class="arrow next" th:href="${users.last} ? '#' : @{/all_manager_list(page=${users.number + 2})}"></a>
                            </li>
                            <li class="page_li">
                                <a class="arrow nnext" th:href="@{/all_manager_list(page=${users.totalPages})}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>