<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--		<link rel="stylesheet" type="text/css" href="../../static/css/modal-default.css" />-->
    <link rel="stylesheet" type="text/css" href="../../static/css/modal-component.css"/>
    <script src="../../static/js/modernizr.custom5.js"></script>
</head>
<body>
<!-- All modals added here for the demo. You would of course just have one, dynamically created -->
<div class="md-modal md-effect-1" id="modal-1">
    <div class="md-content">
        <h3>사용자 권한 수정</h3>
        <div>
            <p>해당 매니저의 권한을 수정합니다.</p>
            <p>기존 권한 | <span>매니저</span> → 변경 후 권한 | <span>관리자</span></p>

            <button class="md-close">Close me!</button>
        </div>
    </div>
</div>

<div class="container">
    <!-- Top Navigation -->


    <div class="column">
        <button class="md-trigger" data-modal="modal-1">Fade in &amp; Scale</button>

    </div>

</div><!-- /container -->
<div class="md-overlay"></div><!-- the overlay element -->

<!-- classie.js by @desandro: https://github.com/desandro/classie -->
<script src="../../static/js/classie5.js"></script>
<script src="../../static/js/modalEffects.js"></script>

<!-- for the blur effect -->
<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
<script>
    // this is important for IEs
    var polyfilter_scriptpath = '/js/';
</script>
<script src="../../static/js/cssParser.js"></script>
<script src="../../static/js/css-filters-polyfill.js"></script>
</body>
</html>
