<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Level Push Menu - Demo 1</title>
    <meta name="description" content="Multi-Level Push Menu: Off-screen navigation with multiple levels"/>
    <meta name="keywords"
          content="multi-level, menu, navigation, off-canvas, off-screen, mobile, levels, nested, transform"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/icons.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/component.css"/>
    <script src="../../static/js/modernizr.custom.js"></script>
    <!--button-->
    <link rel="stylesheet" type="text/css" href="../../static/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/button.css"/>
    <!--    <script src="../../static/js/modernizr.custom4.js"></script>-->

    <!--detail manager list-->
    <link type="text/css" rel="stylesheet" href="../../static/css/manager_detail.css"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/menu_list.css"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/table.css"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/paging.css"/>

    <!--modal-->
    <link rel="stylesheet" type="text/css" href="../../static/css/modal-component.css" />


    <style media="screen">
        .logo {
            display: block;
            margin: 45px auto 5px auto;
        }

        .access_user {
            width: 300px;
            height: 100px;
            float: right;
            margin-right: 100px;
            padding-top: 50px;
        }

        .btn {
            padding: 10px 20px;
            width: max-content;
            font-size: 1rem;
            margin-top: 0;
        }
        .detail-page-btn-box {
            width: 100%;
            margin-top: 30px;
            display: inline-block;
        }
        button.btn.btn-6.btn-6b.update-user-btn {
            background-color: dimgray;
            border-radius: 8px;
        }

        button.btn.btn-6.btn-6b.update-user-btn:hover {
            background-color: #4f4f4f;
        }

        button.btn.btn-6.btn-6b.dropout-user-btn {
            background-color: tomato;
            border-radius: 8px;
        }

        button.btn.btn-6.btn-6b.dropout-user-btn:hover {
            background-color: #ff3f1d;
            border-radius: 8px;
        }

        .manager_detail {
            margin-bottom: 50px;
        }

        td{
            padding: 10px 10px 10px 10px;
        }

        span{color:red}

    </style>
</head>
<body>
<!--권한 수정 modal-->
<div class="md-modal md-effect-1" id="modal-1">
    <div class="md-content">
        <h3>사용자 권한 수정</h3>
        <div>
            <p>해당 매니저의 권한을 수정합니다.</p><br>
            <p style="font-weight: 600">기존 권한 | <span>매니저</span> → 변경 후 권한 | <span>관리자</span></p>

            <div class="md-close-wrap">
                <button class="btn btn-1 btn-1a md-close">권한 수정</button>
            </div>
        </div>
    </div>
</div>
<!--탈퇴 modal-->
<div class="md-modal md-effect-1" id="modal-2">
    <div class="md-content">
        <h3>회원탈퇴 처리</h3>
        <div>
            <p>선택한 매니저를 탈퇴시킵니다.</p>
            <p>선택한 매니저는 즉시 탈퇴 처리되며 해당 계정으로 서비스를 접속할 수 없습니다.</p>
            <div class="md-close-wrap">
                <button class="btn btn-1 btn-1a md-close">탈퇴 처리</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">

        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <img class="logo" src="../../static/img/logo.png" width="50" height="50"/>
                <h2 class="icon icon-world">Spring Manager Scheduling System</h2>
                <ul>
                    <li><a class="icon icon-shop" href="home.html">메인화면</a></li>

                    <li class="icon icon-arrow-left">
                        <a class="icon icon-calendar" href="#">스케줄</a>
                        <div class="mp-level">
                            <h2 class="icon icon-calendar">스케줄</h2>
                            <ul>
                                <li><a href="#">전체 스케줄 조회</a></li>
                                <li><a href="#">개인 스케줄 조회</a></li>
                                <li><a href="#">스케줄 모델 생성</a></li>
                                <li><a href="#">근무 스케줄 배정</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="icon icon-arrow-left">
                        <a class="icon icon-user" href="#">매니저관리</a>
                        <div class="mp-level">
                            <h2 class="icon icon-user">매니저관리</h2>
                            <ul>
                                <li><a href="#">전체 매니저 조회</a></li>
                                <li><a href="#">근무중인 매니저</a></li>
                                <li><a href="#">신입 매니저 조회</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="icon icon-arrow-left">
                        <a class="icon icon-mail" href="#">요청알림관리</a>
                        <div class="mp-level">
                            <h2 class="icon icon-mail">요청알림관리</h2>
                            <ul>
                                <li><a href="#">스케줄 수정 요청</a></li>
                                <li><a href="#">매니저 탈퇴 요청</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="icon icon-key" href="#">마이페이지</a></li>
                    <li><a class="icon icon-cup" href="../user/login.html">로그아웃</a></li>
                </ul>
            </div>
        </nav>
        <!-- /mp-menu -->


        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
            <div class="block block-40 clearfix">
                <p><a href="#" id="trigger" class="menu-trigger">Open/Close Menu</a></p>
            </div>
            <div class="access_user">
                <div class="access_user_hello" style="font-size: 1.4rem; font-weight: 600;color: #b0b0b0f2">
                    안녕하세요 <span style="color: #ff6d6d">홍길동</span>님!
                </div>
                <div class="logout">
                </div>
            </div>
            <div class="ground">
                <div class="main">
                    <div class="all_manaer_list">
                        <div class="title1">
                            <h1>매니저 상세 정보 조회</h1>
                        </div>
                        <div class="manager_detail">
                            <table class="detail_tb">
                                <tr>
                                    <th scope="row">매니저ID</th>
                                    <td>USER1</td>
                                    <th scope="row">매니저명</th>
                                    <td>박태영</td>
                                </tr>
                                <tr>
                                    <th scope="row">전화번호</th>
                                    <td>010-1234-5678</td>
                                    <th scope="row">가입일자</th>
                                    <td>2022-01-14</td>
                                </tr>
                                <tr>
                                    <th scope="row">평점</th>
                                    <td>5.0</td>
                                    <th scope="row">희망 근무 시간</th>
                                    <td>오후 12시 ~ 18시, 저녁 18시 ~ 24시</td>
                                </tr>
                            </table>
                        </div>
                        <div class="schedule">
                            <h2>배정 근무 스케줄</h2>
                            <table width="700" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <th scope="col">INDEX</th>
                                    <th scope="col">날짜</th>
                                    <th scope="col">요일</th>
                                    <th scope="col">시간</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2022.01.09</td>
                                    <td>일</td>
                                    <td>1시</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2022.01.09</td>
                                    <td>일</td>
                                    <td>1시</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2022.01.09</td>
                                    <td>일</td>
                                    <td>1시</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2022.01.09</td>
                                    <td>일</td>
                                    <td>1시</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2022.01.09</td>
                                    <td>일</td>
                                    <td>1시</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2022.01.09</td>
                                    <td>일</td>
                                    <td>1시</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2022.01.09</td>
                                    <td>일</td>
                                    <td>1시</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2022.01.09</td>
                                    <td>일</td>
                                    <td>1시</td>
                                </tr>
                            </table>
                            <div class="detail-page-btn-box">
                                <div class="btn_align">
                                    <div style="display: inline-block">

                                        <button class="btn btn-6 btn-6b update-user-btn md-trigger" data-modal="modal-1">사용자 권한 수정</button>
                                    </div>
                                    <div style="display: inline-block">
                                        <button class="btn btn-6 btn-6b dropout-user-btn md-trigger"  data-modal="modal-2">탈퇴 처리</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /pusher -->
</div><!-- /container -->
<div class="md-overlay"></div><!-- the overlay element -->

<script src="../../static/js/classie.js"></script>
<script src="../../static/js/mlpushmenu.js"></script>
<script>
    new mlPushMenu(document.getElementById('mp-menu'), document.getElementById('trigger'));
</script>
<script src="../../static/js/classie4.js"></script>
<script>
    var buttons7Click = Array.prototype.slice.call(document.querySelectorAll('#btn-click button')),
        buttons9Click = Array.prototype.slice.call(document.querySelectorAll('button.btn-8g')),
        totalButtons7Click = buttons7Click.length,
        totalButtons9Click = buttons9Click.length;

    buttons7Click.forEach(function (el, i) {
        el.addEventListener('click', activate, false);
    });
    buttons9Click.forEach(function (el, i) {
        el.addEventListener('click', activate, false);
    });

    function activate() {
        var self = this, activatedClass = 'btn-activated';

        if (classie.has(this, 'btn-7h')) {
            // if it is the first of the two btn-7h then activatedClass = 'btn-error';
            // if it is the second then activatedClass = 'btn-success'
            activatedClass = buttons7Click.indexOf(this) === totalButtons7Click - 2 ? 'btn-error' : 'btn-success';
        } else if (classie.has(this, 'btn-8g')) {
            // if it is the first of the two btn-8g then activatedClass = 'btn-success3d';
            // if it is the second then activatedClass = 'btn-error3d'
            activatedClass = buttons9Click.indexOf(this) === totalButtons9Click - 2 ? 'btn-success3d' : 'btn-error3d';
        }

        if (!classie.has(this, activatedClass)) {
            classie.add(this, activatedClass);
            setTimeout(function () {
                classie.remove(self, activatedClass)
            }, 1000);
        }
    }

    document.querySelector('.btn-7i').addEventListener('click', function () {
        classie.add(document.querySelector('#trash-effect'), 'trash-effect-active');
    }, false);
</script>
<!-- classie.js by @desandro: https://github.com/desandro/classie -->
<script src="../../static/js/classie5.js"></script>
<script src="../../static/js/modalEffects.js"></script>

<!-- for the blur effect -->
<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
<script>
    // this is important for IEs
    var polyfilter_scriptpath = '../../static/js/';
</script>
<script src="../../static/js/cssParser.js"></script>
<script src="../../static/js/css-filters-polyfill.js"></script>
</body>
</html>
