<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/menu_layout}">
<head>
    <title>매니저 상세 정보 조회</title>
    <link th:href="@{/css/manager_detail.css}" rel="stylesheet"/>
    <style media="screen">
        .btn {
            padding: 10px 20px;
            width: max-content;
            font-size: 0.8rem;
            margin-top: 0;
        }

        .detail-page-btn-box {
            width: 100%;
            margin-top: 30px;
            display: inline-block;
        }

        button.btn.btn-6.btn-6b.update-user-btn {
            background-color: dimgray;
            border-radius: 8px;
        }

        button.btn.btn-6.btn-6b.update-user-btn:hover {
            background-color: #4f4f4f;
        }

        button.btn.btn-6.btn-6b.dropout-user-btn {
            background-color: tomato;
            border-radius: 8px;
        }

        button.btn.btn-6.btn-6b.dropout-user-btn:hover {
            background-color: #ff3f1d;
            border-radius: 8px;
        }

        .manager_detail {
            margin-bottom: 50px;
        }

        td {
            padding: 10px;
        }
    </style>
</head>

<th:block layout:fragment="ground-wrap">
    <div class="ground">
        <div class="main">
            <div class="all_manaer_list">
                <div class="title1">
                    <h1>매니저 상세 정보 조회</h1>
                </div>
                <div class="manager_detail">
                    <table class="detail_tb" th:with="user=${users.get()}">
                        <tr>
                            <th scope="row">매니저ID</th>
                            <td th:text="${user.id}"></td>
                            <th scope="row">매니저명</th>
                            <td th:text="${user.username}"></td>
                        </tr>
                        <tr>
                            <th scope="row">전화번호</th>
                            <td th:text="${user.userTel}"></td>
                            <th scope="row">가입일자</th>
                            <td th:text="${#temporals.format(user.user_joinDate, 'yyyy-MM-dd')}"></td>
                        </tr>
                        <tr>
                            <th scope="row">평점</th>
                            <td th:text="${user.managerScore}"></td>
                            <th scope="row">희망 근무 시간</th>
                            <td>
                                <span th:if="${hope.size()==0}">정보가 없습니다.</span>
                                <span th:if="${hope.size()>0}" th:text="${hope.get(0)}"></span>
                                <span th:if="${hope.size()>1}" th:text="', ' + ${hope.get(1)}"></span><br/>
                                <span th:if="${hope.size()>2}" th:text="${hope.get(2)}"></span>
                                <span th:if="${hope.size()>3}" th:text="', ' + ${hope.get(3)}"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="schedule">
                    <h2>배정 근무 스케줄</h2>
                    <!--                    <span th:text="${#calendars.format(#calendars.createNow(), 'yyyy년 MM월 ')}"></span>-->
                    <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th scope="col">INDEX</th>
                            <th scope="col">날짜</th>
                            <th scope="col">요일</th>
                            <th scope="col">시간</th>
                        </tr>
                        <tr th:if="${schedules.size() != 0}" th:each="schedule : ${schedules}">
                            <td th:text="${scheduleStat.count}"></td>
                            <td th:text="${#temporals.format(schedule.scheduleDateTimeStart, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#temporals.format(schedule.scheduleDateTimeStart, 'E')}"></td>
                            <td th:text="${#temporals.format(schedule.scheduleDateTimeStart, 'HH:mm')} + ' ~ '
                            + ${#temporals.format(schedule.scheduleDateTimeEnd, 'HH:mm')}"></td>
                        </tr>
                        <tr th:if="${schedules.size() == 0}"> <!--users 리스트의 페이지가 0이면 다음 문장 출력-->
                            <td class="line" colspan="4">조회된 결과가 없습니다.</td>
                        </tr>
                    </table>
                    <div class="detail-page-btn-box">
                        <div class="btn_align">
                            <div style="display: inline-block">
                                <button class="btn btn-6 btn-6b update-user-btn md-trigger" data-modal="modal-5">
                                    사용자 권한 수정
                                </button>
                            </div>
                            <div style="display: inline-block">
                                <button class="btn btn-6 btn-6b dropout-user-btn md-trigger" data-modal="modal-6">
                                    탈퇴 처리
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--권한 수정 modal-->
    <div class="md-modal md-effect-1" id="modal-5">
        <div class="md-content">
            <h3>사용자 권한 수정</h3>
            <div>
                <p>해당 매니저의 권한을 수정합니다.</p><br>
                <p style="font-weight: 600">기존 권한 | <span>매니저</span> → 변경 후 권한 | <span>관리자</span></p>

                <div class="md-close-wrap">
                    <button type="submit" th:data-param="${users.get().id}" class="btn btn-1 btn-1a md-close"
                            th:onclick="auth_update(this.getAttribute('data-param'))">권한 수정
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--탈퇴 modal-->
    <div class="md-modal md-effect-1" id="modal-6">
        <div class="md-content">
            <h3>회원탈퇴 처리</h3>
            <div>
                <p>선택한 매니저를 탈퇴시킵니다.</p>
                <p>선택한 매니저는 <span style="color: red; font-weight: 600;">즉시 탈퇴 처리</span>되며 해당 계정으로 서비스를 접속할 수 없습니다.</p>
                <div class="md-close-wrap">
                    <button type="submit" th:data-param="${users.get().id}" class="btn btn-1 btn-1a md-close"
                            th:onclick="withdrawal_accept(this.getAttribute('data-param'))">탈퇴 처리
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
</th:block>

</html>
<footer>
    <script>
        function auth_update(userid) {
            location.href = "/authUpdateUserDetail?userid=" + userid;
        }

        function withdrawal_accept(userid) {
            location.href = "/withdrawalUserDetail?userid=" + userid;
        }
    </script>
</footer>