<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--		<link rel="stylesheet" type="text/css" href="../../static/css/modal-default.css" />-->
    <link rel="stylesheet" type="text/css" href="../../static/css/modal-component.css"/>
    <script src="../../static/js/modernizr.custom5.js"></script>

</head>
<style>
    .md-modal {
        max-width: 1500px;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    span {
        color: red;
    }

    input[type="text"] {
        height: 25px;
        margin-left: 10px;
    }

    td {
        padding-bottom: 15px;
    }
</style>
<body>

<!--회원탈퇴 요청 modal-->
<div class="md-modal md-effect-1" id="modal-1">
    <div class="md-content">
        <h3>회원탈퇴 요청</h3>
        <div>
            <p>회원탈퇴를 신청하기 전에 안내 사항을 꼭 확인해주세요.</p>

            <p>
                <span>사용하고 계신 아이디( admin )</span>는 탈퇴할 경우 재사용 및 복구가 불가능합니다.
                탈퇴한 아이디는 본인과 타인 모두 재사용 및 복구가 불가하오니 신중하게 선택하시기 바랍니다.
            </p><br>

            <p><input type="checkbox"/> <label style="vertical-align: top;">안내 사항을 모두 확인하였으며, 이에 동의합니다.</label></p>
            <div class="md-close-wrap">
                <button class="btn btn-1 btn-1a md-close">탈퇴 처리</button>
            </div>
        </div>
    </div>
</div>
<!--사용자 정보 수정 modal-->
<div class="md-modal md-effect-1" id="modal-2">
    <div class="md-content">
        <h3>사용자 정보 수정</h3>
        <div>
            <h4>변경할 정보를 입력해주세요.</h4>
            <table>
                <tr>
                    <td>사용자 이름</td>
                    <td><input type="text" value="박태영"></td>
                </tr>
                <tr>
                    <td>전화번호</td>
                    <td><input type="text" value="010-1234-5678"></td>
                </tr>
            </table>
            <br><br>
            <h4>변경할 정보를 입력해주세요.</h4>
            <p>희망하는 근무 타임을 선택해주세요.<span>(여러 개 선택 가능)</span></p>
            <p><label><input type="checkbox"> 새벽 0시 ~ 6시</label></p>
            <p><label><input type="checkbox"> 오전 6시 ~ 12시</label></p>
            <p><label><input type="checkbox"> 오후 12시 ~ 18시</label></p>
            <p><label><input type="checkbox"> 저녁 18시 ~ 24시</label></p>

            <!--            style="vertical-align: top;"-->
            <div class="md-close-wrap">
                <button class="btn btn-1 btn-1a md-close">탈퇴 처리</button>
            </div>
        </div>
    </div>
</div>
<!--스케줄 수정 요청 modal-->
<div class="md-modal md-effect-1" id="modal-3">
    <div class="md-content">
        <h3>스케줄 수정 요청</h3>
        <div>
            <h4>현재 스케줄 정보</h4>
            <table>
                <tr>
                    <td>근무 날짜</td>
                    <td>22-01-16</td>
                </tr>
                <tr>
                    <td>근무 시간</td>
                    <td>2시</td>
                </tr>
            </table>
            <br>
            <hr>
            <br>
            <h4>변경 스케줄 정보</h4>
            <table>
                <tr>
                    <td>근무 날짜</td>
                    <td><input type="date"></td>
                </tr>
                <tr>
                    <td>근무 시간</td>
                    <td><select name='update-time'>
                        <option value='0'>0</option>
                        <option value='1'>1</option>
                        <option value='2' selected>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='5'>5</option>
                        <option value='6'>6</option>
                        <option value='7'>7</option>
                        <option value='8'>8</option>
                        <option value='9'>9</option>
                        <option value='10'>10</option>
                        <option value='11'>11</option>
                        <option value='12'>12</option>
                        <option value='13'>13</option>
                        <option value='14'>14</option>
                        <option value='15'>15</option>
                        <option value='16'>16</option>
                        <option value='17'>17</option>
                        <option value='18'>18</option>
                        <option value='19'>19</option>
                        <option value='20'>20</option>
                        <option value='21'>21</option>
                        <option value='22'>22</option>
                        <option value='23'>23</option>
                    </select>시
                    </td>
                </tr>
            </table>
            <br><br>

            <!--            style="vertical-align: top;"-->
            <div class="md-close-wrap">
                <button class="btn btn-1 btn-1a md-close">탈퇴 처리</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Top Navigation -->


    <div class="column">
        <button class="md-trigger" data-modal="modal-1">Fade in &amp; Scale</button>
    </div>
    <div class="column">
        <button class="md-trigger" data-modal="modal-2">Fade in &amp; Scale</button>
    </div>
    <div class="column">
        <button class="md-trigger" data-modal="modal-3">Fade in &amp; Scale</button>
    </div>
</div><!-- /container -->
<div class="md-overlay"></div><!-- the overlay element -->

<!-- classie.js by @desandro: https://github.com/desandro/classie -->
<script src="../../static/js/classie5.js"></script>
<script src="../../static/js/modalEffects.js"></script>

<!-- for the blur effect -->
<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
<script>
    // this is important for IEs
    var polyfilter_scriptpath = '/js/';
</script>
<script src="../../static/js/cssParser.js"></script>
<script src="../../static/js/css-filters-polyfill.js"></script>
</body>
</html>
