<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/menu_layout}">
<head>
    <title>현재 근무중인 매니저 목록</title>
    <link th:href="@{/css/manager_list.css}" rel="stylesheet"/>

    <style media="screen">
        .btn {
            padding: 10px 20px;
            width: max-content;
            font-size: 0.8rem;
            margin-top: 0;
        }

        input {
            height: 30px;
        }

        select {
            height: 30px;
        }
    </style>
</head>

<th:block layout:fragment="ground-wrap">
    <div class="ground">
        <div class="main">
            <div class="all_manaer_list">
                <div class="title1">
                    <h1>현재 근무중인 매니저 목록</h1>
                </div>
                <div class="select-wrap1">
                    <form name="manager_list_form" class="manager_list_form" method="get">
                        <select th:name="align" id="align" class="list_align" onchange="this.form.submit()">
                            <option th:value="managerScore" th:selected="${condition.align == 'managerScore'}">평점순
                            </option>
                            <option th:value="username" th:selected="${condition.align == 'username'}">매니저명</option>
                            <option th:value="joindate_desc" th:selected="${condition.align == 'joindate_asc'}">
                                가입일자(최신순)
                            </option>
                            <option th:value="joindate_asc" th:selected="${condition.align == 'joindate_desc'}">
                                가입일자(오래된순)
                            </option>
                        </select>
                        <div class="search">
                            <select th:name="type" id="type" class="select_search">
                                <option th:value="username" th:selected="${condition.type == 'username'}">매니저명</option>
                                <option th:value="id" th:selected="${condition.type == 'id'}">매니저ID</option>
                            </select>
                            <label>
                                <input th:name="keyword" id="keyword" type="text" placeholder="검색어 입력"
                                       th:value="${condition.keyword}"/>
                            </label>
                            <button type="submit" class="btn btn-6 btn-6b search-btn">검색</button>
                            <br/>
                        </div>
                    </form>
                </div>
                <div>
                    <table width="700" border="0" cellspacing="0" cellpadding="0" class="list_text_center">

                        <tr>
                            <th scope="col">INDEX</th>
                            <th scope="col">매니저ID</th>
                            <th scope="col">매니저명</th>
                            <th scope="col">전화번호</th>
                            <th scope="col">가입일자</th>
                            <th scope="col">평점</th>
                            <th scope="col">사용자관리</th>
                        </tr>
                        <tr th:if="${users.getTotalPages() != 0}" th:each="user : ${users}">
                            <td class="line" th:text="${userStat.count} + ${users.number} * 10"></td>
                            <td class="line" th:text="${user.id}"></td>
                            <td class="line" th:text="${user.username}"></td>
                            <td class="line" th:text="${user.userTel}"></td>
                            <td class="line" th:text="${#temporals.format(user.user_joinDate, 'yyyy-MM-dd')}"></td>
                            <td class="line" th:text="${#numbers.formatDecimal(user.managerScore, 1, 1)}"></td>
                            <td class="line">
                                <button type="submit" class="btn btn-6 btn-6b"
                                        th:onclick="|location.href='@{/manager_detail/{userId}(userId=${user.id})}'|">관리
                                </button>
                            </td>
                        </tr>
                        <tr th:if="${users.getTotalPages() == 0}">
                            <td class="line" colspan="7">조회된 결과가 없습니다.</td>
                        </tr>
                    </table>

                </div>
                <div class="page_wrap">
                    <div class="page_nation">
                        <ul class="page_ul" onclick="listSubmit()"
                            th:if="${users.getTotalPages() != 0}"
                            th:with="start=${T(Math).floor(users.number/10)*10 + 1},
                                  last=(${start + 9 < users.totalPages ? start + 9 : users.totalPages})">
                            <li class="page_li">
                                <a class="arrow pprev"
                                   th:href="@{/all_manager_list(page=1,align=${condition.align},type=${condition.type},keyword=${condition.keyword})}"></a>
                            </li>
                            <li class="page_li">
                                <a class="arrow prev"
                                   th:href="${users.first} ? '#' : @{/all_manager_list(page=${users.number},align=${condition.align},type=${condition.type},keyword=${condition.keyword})}"></a>
                            </li>
                            <li class="page_li" th:each="page: ${#numbers.sequence(start, last)}">
                                <a th:text="${page}" th:class="${page == users.number + 1} ? 'active'"
                                   th:href="@{/all_manager_list(page=${page},align=${condition.align},type=${condition.type},keyword=${condition.keyword})}"></a>
                            </li>
                            <li class="page_li">
                                <a class="arrow next"
                                   th:href="${users.last} ? '#' : @{/all_manager_list(page=${users.number + 2},align=${condition.align},type=${condition.type},keyword=${condition.keyword})}"></a>
                            </li>
                            <li class="page_li">
                                <a class="arrow nnext"
                                   th:href="@{/all_manager_list(page=${users.totalPages},align=${condition.align},type=${condition.type},keyword=${condition.keyword})}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>