<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--Ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--include-->
    <script>
        $(function () {
            $("#includedHead").load("../common/menu-head.html");
            $("#includedMenu").load("../common/menu.html");
            $("#includedFooter").load("../common/menu-footer.html");
            $("#includedList").load("../common/list-head.html");
            $("#includedButton").load("../common/buttonJs.html");
        });
    </script>
    <!--include menu header-->
    <div id="includedHead"></div>
    <!--include list header-->
    <div id="includedList"></div>
    <!--schedule update request css-->
    <link type="text/css" rel="stylesheet" href="../../static/css/schedule_upd_req_list.css"/>
</head>
<body>
<div class="container">
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">
        <!--include menu-->
        <div id="includedMenu"></div>

        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
            <div class="block block-40 clearfix">
                <p><a href="#" id="trigger" class="menu-trigger">Open/Close Menu</a></p>
            </div>
            <div class="access_user">
                <div class="access_user_hello" style="font-size: 1.4rem; font-weight: 600;color: #b0b0b0f2">
                    안녕하세요 <span style="color: #ff6d6d">홍길동</span>님!
                </div>
                <div class="logout">
                </div>
            </div>
            <div class="ground">
                <div class="main">
                    <div class="all_manaer_list">
                        <div class="title1">
                            <h1>스케줄 수정 요청 목록</h1>
                        </div>

                        <div class="align">
                            <select name="list_align" class="list_align">
                                <option value="manager_score" selected="selected">평점순</option>
                                <option value="manager_name">매니저명</option>
                                <option value="req_date">날짜</option>
                            </select>

<!--                        <div class="btn-wrapper">-->
                            <div class="btn_align">
                                <button class="btn btn-6 btn-6b reqbtn1" onclick="">전체 선택</button>
                                <button class="btn btn-6 btn-6b reqbtn1" onclick="">전체 선택 해제</button>
                                <button class="btn btn-6 btn-6b reqbtn2" onclick="">수정 요청 수락</button>
                            </div>
<!--                        </div>-->
                        </div>
                        <table width="700" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th scope="col">INDEX</th>
                                <th scope="col">매니저ID</th>
                                <th scope="col">매니저명</th>
                                <th scope="col">변경 전 날짜</th>
                                <th scope="col">변경 전 시간</th>
                                <th scope="col">변경 후 날짜</th>
                                <th scope="col">변경 후 시간</th>
                                <th scope="col">승인</th>
                            </tr>
                            <tr>
                                <td class="line">1</td>
                                <td class="line">USER1</td>
                                <td class="line">박태영</td>
                                <td class="line">2022-01-14</td>
                                <td class="line">2시</td>
                                <td class="line">2022-01-15</td>
                                <td class="line">2시</td>
                                <td class="line"><input name="approval" type="checkbox" value="approval"/></td>
                            </tr>
                            <tr>
                                <td class="line">1</td>
                                <td class="line">USER1</td>
                                <td class="line">박태영</td>
                                <td class="line">2022-01-14</td>
                                <td class="line">2시</td>
                                <td class="line">2022-01-15</td>
                                <td class="line">2시</td>
                                <td class="line"><input name="approval" type="checkbox" value="approval"/></td>
                            </tr>
                            <tr>
                                <td class="line">1</td>
                                <td class="line">USER1</td>
                                <td class="line">박태영</td>
                                <td class="line">2022-01-14</td>
                                <td class="line">2시</td>
                                <td class="line">2022-01-15</td>
                                <td class="line">2시</td>
                                <td class="line"><input name="approval" type="checkbox" value="approval"/></td>
                            </tr>
                            <tr>
                                <td class="line">1</td>
                                <td class="line">USER1</td>
                                <td class="line">박태영</td>
                                <td class="line">2022-01-14</td>
                                <td class="line">2시</td>
                                <td class="line">2022-01-15</td>
                                <td class="line">2시</td>
                                <td class="line"><input name="approval" type="checkbox" value="approval"/></td>
                            </tr>
                            <tr>
                                <td class="line">1</td>
                                <td class="line">USER1</td>
                                <td class="line">박태영</td>
                                <td class="line">2022-01-14</td>
                                <td class="line">2시</td>
                                <td class="line">2022-01-15</td>
                                <td class="line">2시</td>
                                <td class="line"><input name="approval" type="checkbox" value="approval"/></td>
                            </tr>
                            <tr>
                                <td class="line">1</td>
                                <td class="line">USER1</td>
                                <td class="line">박태영</td>
                                <td class="line">2022-01-14</td>
                                <td class="line">2시</td>
                                <td class="line">2022-01-15</td>
                                <td class="line">2시</td>
                                <td class="line"><input name="approval" type="checkbox" value="approval"/></td>
                            </tr>
                            <tr>
                                <td class="line">1</td>
                                <td class="line">USER1</td>
                                <td class="line">박태영</td>
                                <td class="line">2022-01-14</td>
                                <td class="line">2시</td>
                                <td class="line">2022-01-15</td>
                                <td class="line">2시</td>
                                <td class="line"><input name="approval" type="checkbox" value="approval"/></td>
                            </tr>
                            <tr>
                                <td class="line">1</td>
                                <td class="line">USER1</td>
                                <td class="line">박태영</td>
                                <td class="line">2022-01-14</td>
                                <td class="line">2시</td>
                                <td class="line">2022-01-15</td>
                                <td class="line">2시</td>
                                <td class="line"><input name="approval" type="checkbox" value="approval"/></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- /pusher -->
</div><!-- /container -->
<!--include footer-->
<div id="includedFooter"></div>
<div id="includedButton"></div>
</body>
</html>
