<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/menu_layout}">
<head>
    <title>마이페이지</title>
    <link th:href="@{/css/mypage.css}" rel="stylesheet"/>
    <link th:href="@{/css/modal-component.css}" rel="stylesheet"/>
    <style media="screen">
        .btn {
            padding: 10px 20px;
            margin-top: 0;
        }

        input {
            height: 30px;
        }

        select {
            height: 30px;
        }

        span {
            font-weight: bold;
        }

        .md-modal {
            max-width: 1500px;
        }

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }

        .modal_span {
            color: red;
        }

        input[type="text"] {
            height: 25px;
            margin-left: 10px;
        }
    </style>
</head>

<th:block layout:fragment="ground-wrap">
    <div class="ground">
        <div class="title1">
            <h1>마이페이지</h1>
            <img src="/img/logo1.png" height="80"/>
        </div>
        <div class="main">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="49%" style="border-right:1px solid #E6E6E6; border-bottom: none;">
                        <div class="my_page_wrap">
                            <div>
                                <h2 style="text-align:center">사용자 정보 조회</h2>
                                <div class="info_wrap">
                                    <div style="float:left;">
                                        <img th:src="@{/img/admin.svg}" width="100" height="100">
                                        <!--                            <img src="../../static/img/admin.svg" width="100" height="100">-->
                                    </div>
                                    <div class="info"><span class="bold_span" sec:authentication="authorities"
                                                            style="color:#E75757;"></span><br/>
                                        <span class="bold_span" th:text="${user.username}"></span><br/>
                                        <div th:text="${user.id}"></div>
                                        <div th:text="|${#temporals.format(user.user_joinDate, 'yyyy-MM-dd')} 가입|"></div>
                                        <div th:text="${user.userTel}"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="btn_align">
                                        <button class="btn btn-6 btn-6b reqbtn1 md-trigger" data-modal="modal-2">사용자 정보
                                            수정
                                        </button>
                                    </div>
                                    <div class="btn_align">
                                        <button class="btn btn-6 btn-6b reqbtn2 md-trigger" data-modal="modal-1">탈퇴하기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td width="85" height="85" style="border-bottom: none;">
                        <div class="work_record_wrap">
                            <div>
                                <div class="info_wrap">
                                    <h2 style="text-align:center">매니저 근태관리</h2>
                                    <div style="float:left;">
                                        <canvas id="managerChart" width="100" height="100"></canvas>
                                    </div>
                                    <div class="info_manger">
										<span class="bold_span">금일 근무 매니저  |</span> [[${todayAssignManager}]] 명<br/>
                                        <span class="bold_span">현재 근무 매니저  |</span> [[${todayWorkManager}]] 명<br/>
                                        <input type="hidden" id="todayWorkManager" th:value="${todayWorkManager}">
                                        <input type="hidden" id="todayAssignManager" th:value="${todayAssignManager}">
                                    </div>
                                </div>
                                <div>
                                    <h2 style="text-align:center">금주 수정요청 미응답 건수</h2>
                                    <div class="info_wrap">
                                        <div style="float:left;">
                                            <canvas id="responseChart" width="100" height="100"></canvas>
                                        </div>
                                        <div class="info_response">
                                            <span class="bold_span" style="font-size:25px; color: #336699;">[[${notAcceptUpdateReq}]]건</span> / 총
                                            [[${updateReq}]] 건<br/>
                                            <input type="hidden" id="notAcceptUpdateReq"
                                                   th:value="${notAcceptUpdateReq}">
                                            <input type="hidden" id="updateReq" th:value="${updateReq}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!--    </div>-->

    <!--회원탈퇴 요청 modal-->
    <div class="md-modal md-effect-1" id="modal-1">
        <div class="md-content">
            <h3>회원탈퇴</h3>
            <div th:if="${user.dropoutReqCheck.compareTo('N') == 0}">
                <p>회원탈퇴를 하기 전에 안내 사항을 꼭 확인해주세요.</p>
                <p>
                    <span class="modal_span">사용하고 계신 아이디( [[${user.id}]] )</span>는 탈퇴할 경우 재사용 및 복구가 불가능합니다.
                    탈퇴한 아이디는 본인과 타인 모두 재사용 및 복구가 불가하오니 신중하게 선택하시기 바랍니다.
                </p><br>
                <form id="dropoutForm" name="dropoutForm" autocomplete="off" method="post" action="/dropout"
                      onsubmit="return dropoutCheck()">
                    <p><input name="dropout" type="checkbox"/>
                        <label style="vertical-align: top;">안내 사항을 모두 확인하였으며, 이에 동의합니다.</label></p>
                    <input type="hidden" name="userid" th:value="${user.id}">
                    <div class="md-close-wrap">
                        <button type="submit" class="btn btn-1 btn-1a md-close">탈퇴하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--사용자 정보 수정 modal-->
    <div class="md-modal md-effect-1" id="modal-2">
        <div class="md-content">
            <h3>사용자 정보 수정</h3>
            <div>
                <h4>변경할 정보를 입력해주세요.</h4>
                <form id="updateForm" name="updateForm" autocomplete="off" method="post" action="/updateAdmin"
                      onsubmit="return updateCheck()">
                    <table>
                        <!--                        <tr>-->
                        <!--                            <td>사용자 이름</td>-->
                        <!--                            <td><input type="text" name="username" th:value="${user.username}"></td>-->
                        <!--                        </tr>-->
                        <tr>
                            <td>전화번호</td>
                            <td><input type="text" name="userTel" th:value="${user.userTel}"></td>
                        </tr>
                    </table>
                    <input type="hidden" name="userid" th:value="${user.id}">
                    <div class="md-close-wrap">
                        <button type="submit" class="btn btn-1 btn-1a md-close">정보 수정</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
</th:block>
</html>
<footer>
    <!--    <script src="/js/classie5.js"></script>-->
    <!--    <script src="/js/modalEffects.js"></script>-->
    <!--    <script th:src="@{/js/classie5.js}" type="text/javascript"></script>-->
    <!--    <script th:src="@{/js/modalEffects.js}" type="text/javascript"></script>-->

    <!-- /chart -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.bundle.min.js"></script>
    <script type="text/javascript">
        var todayWork = parseInt(document.getElementById("todayWorkManager").value);
        var todayAssign = parseInt(document.getElementById("todayAssignManager").value);

        var num = Math.round((todayWork / todayAssign + Number.EPSILON) * 100) / 100;


        var notAcceptUpdateReq = parseInt(document.getElementById("notAcceptUpdateReq").value);
        var updateReq = parseInt(document.getElementById("updateReq").value);

        var num2 = Math.round((notAcceptUpdateReq / updateReq + Number.EPSILON) * 100) / 100;

        window.onload = function () {
            Chart.pluginService.register({
                beforeDraw: function (chart) {
                    if (chart.config.options.elements.center) {
                        //Get ctx from string
                        var ctx = chart.chart.ctx;

                        //Get options from the center object in options
                        var centerConfig = chart.config.options.elements.center;
                        var fontSize = centerConfig.fontSize || '20';
                        var fontStyle = centerConfig.fontStyle || 'Arial';
                        var txt = centerConfig.text;
                        var color = centerConfig.color || '#000';
                        var sidePadding = centerConfig.sidePadding || 20;
                        var sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)
                        //Start with a base font of 30px
                        ctx.font = fontSize + "px " + fontStyle;

                        //Get the width of the string and also the width of the element minus 10 to give it 5px side padding
                        var stringWidth = ctx.measureText(txt).width;
                        var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

                        // Find out how much the font can grow in width.
                        var widthRatio = elementWidth / stringWidth;
                        var newFontSize = Math.floor(30 * widthRatio);
                        var elementHeight = (chart.innerRadius * 0.7);

                        // Pick a new font size so it will not be larger than the height of label.
                        var fontSizeToUse = Math.min(newFontSize, elementHeight);

                        //Set font settings to draw it correctly.
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'middle';
                        var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
                        var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);

                        ctx.font = fontSizeToUse + "px " + fontStyle;
                        ctx.fillStyle = color;

                        //Draw text in center
                        ctx.fillText(txt, centerX, centerY);
                    }
                }
            });


            var config = {
                type: 'doughnut',
                data: {
                    labels: [
                        "지각 매니저 수",
                        "현재 근무 매니저"
                    ],
                    datasets: [{
                        data: [num, 1 - num],
                        backgroundColor: [
                            "#336699",
                            "#DDEEFF"
                        ],
                        hoverBackgroundColor: [
                            "#336699",
                            "#DDEEFF"
                        ],
                        borderWidth: 0,
                        scaleBeginAtZero: true
                    }]
                },
                options: {
                    tooltips: {enabled: false},
                    hover: {
                        //animationDuration: 0
                        mode: null
                    },
                    responsive: true,
                    legend: {
                        display: false
                    },
                    elements: {
                        center: {
                            text: Math.round(num * 100) + "%",
                            color: '#336699', // Default is #000000
                            fontStyle: 'Arial', // Default is Arial
                            sidePadding: 15 // Defualt is 20 (as a percentage)
                        }
                    },
                    maintainAspectRatio: false,
                    cutoutPercentage: 70,
                    // rotation: 1 * Math.PI,
                    // circumference: 1 * Math.PI
                    //animation:false
                }
            };

            var config2 = {
                type: 'doughnut',
                data: {
                    labels: [
                        "미응답 건수",
                        "금주 총 요청 건 수"
                    ],
                    datasets: [{
                        data: [num2, 1 - num2],
                        backgroundColor: [
                            "#336699",
                            "#DDEEFF"
                        ],
                        hoverBackgroundColor: [
                            "#336699",
                            "#DDEEFF"
                        ],
                        borderWidth: 0,
                        scaleBeginAtZero: true
                    }]
                },
                options: {
                    tooltips: {enabled: false},
                    hover: {
                        //animationDuration: 0
                        mode: null
                    },
                    responsive: true,
                    legend: {
                        display: false
                    },
                    elements: {
                        center: {
                            text: Math.round(num2 * 100) + "%",
                            color: '#336699', // Default is #000000
                            fontStyle: 'Arial', // Default is Arial
                            sidePadding: 15 // Defualt is 20 (as a percentage)
                        }
                    },
                    maintainAspectRatio: false,
                    cutoutPercentage: 70,
                    // rotation: 1 * Math.PI,
                    // circumference: 1 * Math.PI
                    //animation:false
                }
            };

            var ctx = document.getElementById("managerChart").getContext("2d");
            var managerChart = new Chart(ctx, config);

            var ctx = document.getElementById("responseChart").getContext("2d");
            var responseChart = new Chart(ctx, config2);
        }
    </script>

    <script type="text/JavaScript">
        function dropoutCheck() {
            if (document.dropoutForm.dropout.checked) {
                let answer = confirm("탈퇴를 하시겠습니까??");
                if (answer == true) {
                    $("#dropoutForm").attr("action", "/dropout");
                    $("#dropoutForm").submit();
                }
            } else {
                alert("탈퇴를 위해 안내 사항에 동의해주세요.");
                return false;
            }
        }
    </script>

    <script type="text/JavaScript">
        function updateCheck() {
            var count = 0;
            var length = document.updateForm.worktime.length;
            var i = 0;

            // var username = document.updateForm.username.value.trim();
            var userTel = document.updateForm.userTel.value.trim();

            while (i < length) {
                if (document.updateForm.worktime[i].checked) {
                    count = count + 1;
                }
                i++;
            }
            // if (username == "") {
            //     alert("이름을 입력해주세요.");
            //     document.updateForm.username.focus();
            //     return false;
            if (userTel == "") {
                alert("전화번호를 입력해주세요.");
                document.updateForm.userTel.focus();
                return false;
            } else {
                let answer = confirm("변경 사항을 저장하시겠습니까?");
                if (answer == true) {
                    $("#updateForm").attr("action", "/updateAdmin");
                    $("#updateForm").submit();
                }
            }
        }
    </script>
</footer>