<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/menu_layout}">
<head>
    <title>마이페이지</title>
    <link th:href="@{/css/mypage.css}" rel="stylesheet"/>
    <link th:href="@{/css/modal-component.css}" rel="stylesheet"/>
    <style media="screen">
        .btn {
            padding: 10px 20px;
            margin-top: 0;
        }

        input {
            height: 30px;
        }

        select {
            height: 30px;
        }

        .bold_span {
            font-weight: bold;
            /*font-size: 1.2em;*/
        }

        .md-modal {
            max-width: 1500px;
        }

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }

        .modal_span {
            color: red;
        }

        input[type="text"] {
            height: 25px;
            margin-left: 10px;
        }
    </style>
</head>

<th:block layout:fragment="ground-wrap">
    <div class="ground">
        <div class="title1">
            <h1>마이페이지</h1>
            <img src="/img/logo1.png" height="80"/>
        </div>
        <div class="main">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom:none;">
                <tr>
                    <td width="49%" style="border-right:1px solid #E6E6E6; border-bottom:none;">
                        <div class="user_info_wrap">
                            <div>
                                <h2 style="text-align:center">사용자 정보 조회</h2>
                                <div class="info_wrap">
                                    <div style="float:left;">
                                        <img th:src="@{/img/manager.svg}" width="100" height="100">
                                        <!--                  <img src="../../static/img/manager.svg" width="100" height="100">-->
                                    </div>
                                    <div class="info"><span class="bold_span" sec:authentication="authorities"
                                                            style="color:#E75757;">Manager</span><br/>
                                        <span class="bold_span" th:text="${user.username}"></span><br/>
                                        <div th:text="${user.id}"></div>
                                        <div th:text="|${#temporals.format(user.user_joinDate, 'yyyy-MM-dd')} 가입|"></div>
                                        <div th:text="${user.userTel}"></div>
                                    </div>
                                </div>
                                <br/>
                                <span class="bold_span">희망 근무시간</span> <br/>
                                <span th:if="${hope.size()==0}">정보가 없습니다.</span>
                                <span th:if="${hope.size()>0}" th:text="${hope.get(0)}"></span>
                                <span th:if="${hope.size()>1}" th:text="', ' + ${hope.get(1)}"></span><br/>
                                <span th:if="${hope.size()>2}" th:text="${hope.get(2)}"></span>
                                <span th:if="${hope.size()>3}" th:text="', ' + ${hope.get(3)}"></span>
                                <div class="btn_align">
                                    <button class="btn btn-6 btn-6b reqbtn1 md-trigger" data-modal="modal-2">사용자 정보 수정
                                    </button>
                                </div>
                                <div class="btn_align">
                                    <button class="btn btn-6 btn-6b reqbtn2 md-trigger" data-modal="modal-1">탈퇴 요청
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td width="85" height="85" style="border-bottom:none;">
                        <div class="work_record_wrap">
                            <div>
                                <!--                                <h2 style="text-align:center">근무 현황</h2>-->
                                <!--                                <div class="info_wrap">-->
                                <!--                                    <div style="float:left;">-->
                                <!--                                        <img th:src="@{/img/record.svg}" width="100" height="100">-->
                                <!--                                        &lt;!&ndash;                  <img src="../../static/img/record.svg" width="100" height="100">&ndash;&gt;-->
                                <!--                                    </div>-->
                                <!--                                    <div class="info_work">-->
                                <!--                                        <span class="bold_span">이번달 근무 시간  |</span> [[${monthWork}]] 시간<br/>-->
                                <!--                                        <span class="bold_span">금주 근무 시간  |</span> 7 시간<br/>-->
                                <!--                                        <span class="bold_span">잔업 시간  |</span> 7 시간<br/>-->
                                <!--                                        <span class="bold_span">주말 충족 여부  |</span> N<br/>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <div>
                                    <h2 style="text-align:center">근무 현황</h2>
                                    <div class="info_wrap">
                                        <div style="float:left;">
                                            <canvas id="myChart" width="100" height="100"></canvas>
                                        </div>
                                        <div class="info">
                                            <!--                                            <span class="bold_span">이번달 근무 시간  |</span> [[${monthWork}]] 시간<br/>-->
                                            <span class="bold_span">금주 근무 시간  |</span> [[${weekWork}]] 시간<br/>
                                            <span class="bold_span">잔업 시간  |</span> [[${weekRemain}]] 시간<br/>
                                            <span class="bold_span">주말 충족 여부  |</span> N<br/>
                                            <input type="hidden" id="weekWork" th:value="${weekWork}">
                                            <input type="hidden" id="weekRemain" th:value="${weekRemain}">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <canvas id="myLineChart" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div
                    id="kakao-talk-channel-chat-button"
                    data-channel-public-id="_LBGRxj"
                    data-title="question"
                    data-size="large"
                    data-color="yellow"
                    data-shape="pc"
                    data-support-multiple-densities="true">
            </div>
<!--            <img src="/img/question_large_yellow_pc.png"/>-->
        </div>
    </div>

    <!--회원탈퇴 요청 modal-->
    <div class="md-modal md-effect-1" id="modal-1">
        <div class="md-content">
            <h3>회원탈퇴 요청</h3>
            <div th:if="${user.dropoutReqCheck.compareTo('N') == 0}">
                <p>회원탈퇴를 신청하기 전에 안내 사항을 꼭 확인해주세요.</p>
                <p>
                    <span class="modal_span">사용하고 계신 아이디( [[${user.id}]] )</span>는 탈퇴할 경우 재사용 및 복구가 불가능합니다.
                    탈퇴한 아이디는 본인과 타인 모두 재사용 및 복구가 불가하오니 신중하게 선택하시기 바랍니다.
                </p><br>
                <form id="dropoutForm" name="dropoutForm" autocomplete="off" method="post" action="/dropoutReq"
                      onsubmit="return dropoutCheck()">
                    <p><input name="dropout" type="checkbox"/>
                        <label style="vertical-align: top;">안내 사항을 모두 확인하였으며, 이에 동의합니다.</label></p>
                    <input type="hidden" name="userid" th:value="${user.id}">
                    <div class="md-close-wrap">
                        <button type="submit" class="btn btn-1 btn-1a md-close">탈퇴 요청</button>
                    </div>
                </form>
            </div>
            <div th:if="${user.dropoutReqCheck.compareTo('Y') == 0}">
                <p><span class="modal_span">사용하고 계신 아이디( [[${user.id}]] )</span>는 이미 탈퇴 요청이 되었습니다.</p>
                <div class="md-close-wrap">
                    <button type="submit" class="btn btn-1 btn-1a md-close">확인</button>
                </div>
            </div>
        </div>
    </div>

    <!--사용자 정보 수정 modal-->
    <div class="md-modal md-effect-1" id="modal-2">
        <div class="md-content">
            <h3>사용자 정보 수정</h3>
            <div>
                <h4>변경할 정보를 입력해주세요.</h4>
                <form id="updateForm" name="updateForm" autocomplete="off" method="post" action="/updateManager"
                      onsubmit="return updateCheck()">
                    <table>
                        <!--                        <tr>-->
                        <!--                            <td>사용자 이름</td>-->
                        <!--                            <td><input type="text" name="username" th:value="${user.username}"></td>-->
                        <!--                        </tr>-->
                        <tr>
                            <td>전화번호</td>
                            <td><input type="text" name="userTel" th:value="${user.userTel}"></td>
                        </tr>
                    </table>
                    <br><br>
                    <h4>변경할 정보를 입력해주세요.</h4>
                    <p>희망하는 근무 타임을 선택해주세요.<span class="modal_span">(여러 개 선택 가능)</span></p>
                    <input name="worktime" type="checkbox" value="0:6"
                           th:checked="${#strings.contains(hope,'새벽')}"><label> 새벽 0시 ~ 6시</label><br/>
                    <input name="worktime" type="checkbox" value="6:12"
                           th:checked="${#strings.contains(hope,'오전')}"><label> 오전 6시 ~ 12시</label><br/>
                    <input name="worktime" type="checkbox" value="12:18"
                           th:checked="${#strings.contains(hope,'오후')}"><label> 오후 12시 ~ 18시</label><br/>
                    <input name="worktime" type="checkbox" value="18:24"
                           th:checked="${#strings.contains(hope,'저녁')}"><label> 저녁 18시 ~ 24시</label><br/>
                    <input type="hidden" name="userid" th:value="${user.id}">
                    <!--            style="vertical-align: top;"-->
                    <div class="md-close-wrap">
                        <button type="submit" class="btn btn-1 btn-1a md-close">정보 수정</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
</th:block>
</html>
<footer>
    <!--    <script src="/js/classie5.js"></script>-->
    <!--    <script src="/js/modalEffects.js"></script>-->
    <!--    <script th:src="@{/js/classie5.js}" type="text/javascript"></script>-->
    <!--    <script th:src="@{/js/modalEffects.js}" type="text/javascript"></script>-->
    <script>
        window.kakaoAsyncInit = function () {
            Kakao.Channel.createChatButton({
                container: '#kakao-talk-channel-chat-button',
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://developers.kakao.com/sdk/js/kakao.channel.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        })(document, 'script', 'kakao-js-sdk');
    </script>
    <!-- /chart -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.bundle.min.js"></script>
    <script type="text/javascript">
        var weekWork = parseInt(document.getElementById("weekWork").value);
        var weekRemain = parseInt(document.getElementById("weekRemain").value);
        var weekAssign = weekWork + weekRemain;

        var num = Math.round((weekWork / weekAssign + Number.EPSILON) * 100) / 100;
        window.onload = function () {
            Chart.pluginService.register({
                beforeDraw: function (chart) {
                    if (chart.config.options.elements.center) {
                        //Get ctx from string
                        var ctx = chart.chart.ctx;

                        //Get options from the center object in options
                        var centerConfig = chart.config.options.elements.center;
                        var fontSize = centerConfig.fontSize || '20';
                        var fontStyle = centerConfig.fontStyle || 'Arial';
                        var txt = centerConfig.text;
                        var color = centerConfig.color || '#000';
                        var sidePadding = centerConfig.sidePadding || 20;
                        var sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)
                        //Start with a base font of 30px
                        ctx.font = fontSize + "px " + fontStyle;

                        //Get the width of the string and also the width of the element minus 10 to give it 5px side padding
                        var stringWidth = ctx.measureText(txt).width;
                        var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

                        // Find out how much the font can grow in width.
                        var widthRatio = elementWidth / stringWidth;
                        var newFontSize = Math.floor(30 * widthRatio);
                        var elementHeight = (chart.innerRadius * 0.7);

                        // Pick a new font size so it will not be larger than the height of label.
                        var fontSizeToUse = Math.min(newFontSize, elementHeight);

                        //Set font settings to draw it correctly.
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'middle';
                        var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
                        var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);

                        ctx.font = fontSizeToUse + "px " + fontStyle;
                        ctx.fillStyle = color;

                        //Draw text in center
                        ctx.fillText(txt, centerX, centerY);
                    }
                }
            });
            var config = {
                type: 'doughnut',
                data: {
                    labels: [
                        "금주 근무 시간",
                        "잔업 시간"
                    ],
                    datasets: [{
                        data: [num, 1 - num],
                        backgroundColor: [
                            "#336699",
                            "#DDEEFF"
                        ],
                        hoverBackgroundColor: [
                            "#336699",
                            "#DDEEFF"
                        ],
                        borderWidth: 0,
                        scaleBeginAtZero: true
                    }]
                },
                options: {
                    tooltips: {enabled: false},
                    hover: {
                        animationDuration: 0,
                        mode: null
                    },
                    responsive: true,
                    legend: {
                        display: false
                    },
                    elements: {
                        center: {
                            text: Math.round(num * 100) + "%",
                            color: '#336699', // Default is #000000
                            fontStyle: 'Arial', // Default is Arial
                            sidePadding: 15 // Defualt is 20 (as a percentage)
                        }
                    },
                    maintainAspectRatio: false,
                    cutoutPercentage: 70
                    //animation:false
                }
            };
            var ctx = document.getElementById("myChart").getContext("2d");
            var myChart = new Chart(ctx, config);
        }
    </script>

    <script>
        var ctx = document.getElementById('myLineChart').getContext('2d');
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['3주전', '2주전', '1주전', '금주'],
                datasets: [{
                    fill: false,
                    data: [12, 19, 20, 14],
                    pointBorderColor: "#336699",
                    pointBackgroundColor: "#336699",
                    borderColor: "#336699",
                    borderWidth: 2
                }]
            },
            options: {
                legend: {
                    display: false
                },
                // 컨테이너가 수행 할 때 차트 캔버스의 크기를 조정(dafalut : true)
                responsive: false,
                // 크기 조정 이벤트 후 새 크기로 애니메이션하는 데 걸리는 시간(밀리 초) (defalut : 0)
                responsiveAnimationDuration: 1000,
                // (width / height) 크기를 조정할 떄 원래 캔버스 종횡비를 유지 (defalut : true)
                maintainAspectRatio: true,
                // 캔버스 종횡비( width / height, 정사각형 캔버스를 나타내는 값) 높이가 속성으로 또는 스타일 통해 명시적으로 정의된 경우이 옵션은 무시
                aspectRatio: 2,
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 30,
                            stepSize: 10
                        }
                    }]
                },
            }
        });
    </script>


    <script type="text/JavaScript">
        $("button").on('click', function () {
            $('#modal-2').modal('show');
        });
    </script>

    <script type="text/JavaScript">
        function dropoutCheck() {
            if (document.dropoutForm.dropout.checked) {
                let answer = confirm("탈퇴 요청을 하시겠습니까??");
                if (answer == true) {
                    $("#dropoutForm").attr("action", "/dropoutReq");
                    $("#dropoutForm").submit();
                }
            } else {
                alert("탈퇴 요청을 위해 안내 사항에 동의해주세요.");
                return false;
            }
        }
    </script>

    <script type="text/JavaScript">
        function updateCheck() {
            var count = 0;
            var length = document.updateForm.worktime.length;
            var i = 0;

            // var username = document.updateForm.username.value.trim();
            var userTel = document.updateForm.userTel.value.trim();

            while (i < length) {
                if (document.updateForm.worktime[i].checked) {
                    count = count + 1;
                }
                i++;
            }
            if (count == 0) {
                alert("한 개 이상의 타임을 선택해주세요.");
                return false;
                // } else if (username == "") {
                //     alert("이름을 입력해주세요.");
                //     document.updateForm.username.focus();
                //     return false;
            } else if (userTel == "") {
                alert("전화번호를 입력해주세요.");
                document.updateForm.userTel.focus();
                return false;
            } else {
                let answer = confirm("변경 사항을 저장하시겠습니까?");
                if (answer == true) {
                    $("#updateForm").attr("action", "/updateManager");
                    $("#updateForm").submit();
                }
            }
        }
    </script>
</footer>