<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--/* 이곳에 각 view가 위치합니다. */-->
<head>
    <th:block layout:fragment="header" th:include="@{fragments/header}"/>
</head>

<body>
<div class="container">
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">
        <!-- mp-menu -->
        <th:block layout:fragment="menu-wrap" th:include="@{fragments/menu}"/>
        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
            <th:block layout:fragment="top-wrap" th:include="@{fragments/top}"/>
            <div layout:fragment="ground-wrap"/>
        </div>
    </div><!-- /pusher -->
</div><!-- /container -->
<th:block layout:fragment="modal" th:include="@{fragments/modal}"/>
</body>
<footer>
    <th:block layout:fragment="footer" th:include="@{fragments/footer}"/>
</footer>
</html>

