<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--/* 이곳에 각 view가 위치합니다. */-->
<head>
    <th:block layout:fragment="user_header" th:include="@{fragments/user_header}"></th:block>
</head>

<body>
<th:block layout:fragment="step-wrap"></th:block>
<div class="signup_right">
    <div class="signup">
        <div style="margin-bottom:50px;"><img src="/img/logo.png" width="100" height="100"/></div>
        <th:block layout:fragment="signup-wrap"></th:block>
    </div>
</div>
</body>
<footer>
    <th:block layout:fragment="user_footer" th:include="@{fragments/user_footer}"></th:block>
</footer>
</html>

