<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/menu_layout}">-->
<!--<th:block layout:fragment="head">-->
<!--    <title>Spring Boot</title>-->
<!--    &lt;!&ndash;/* 추가할 css */&ndash;&gt;-->
<!--    <link th:href="@{/css/normalize.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/css/demo.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/css/icons.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/css/component.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/js/modernizr.custom.js}" rel="stylesheet"/>-->
<!--</th:block>-->
<!--<body>-->
<!--&lt;!&ndash;<th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>&ndash;&gt;-->
<!--&lt;!&ndash;<div layout:fragment="content" class="content">&ndash;&gt;-->
<!--&lt;!&ndash;    <h2>This is Content</h2>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div>-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; Push Wrapper &ndash;&gt;-->
<!--        <div class="mp-pusher" id="mp-pusher">-->
<!--            &lt;!&ndash; mp-menu &ndash;&gt;-->
<!--            <th:block layout:fragment="menu" th:include="@{/fragments/menu}"></th:block>-->
<!--            <div class="scroller">&lt;!&ndash; this is for emulating position fixed of the nav &ndash;&gt;-->
<!--                <th:block layout:fragment="top-wrap" th:include="@{/fragments/top}"></th:block>-->
<!--                <th:block layout:fragment="ground" th:include="@{home}"></th:block>-->
<!--            </div>-->
<!--        </div>&lt;!&ndash; /pusher &ndash;&gt;-->
<!--    </div>&lt;!&ndash; /container &ndash;&gt;-->
<!--</div>-->
<!--<th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>-->
<!--</html>-->

