<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>무제 문서</title>
<link type="text/css" rel="stylesheet" href="../../resources/static/css/home.css"/>
<link type="text/css" rel="stylesheet" href="../../resources/static/css/signup_right.css"/>
  <link rel="stylesheet" type="text/css" href="../../resources/static/css/normalize2.css" />
  <link rel="stylesheet" type="text/css" href="../../resources/static/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="../../resources/static/css/demo2.css" />
  <link rel="stylesheet" type="text/css" href="../../resources/static/css/set2.css" />
  <link rel="stylesheet" type="text/css" href="../../resources/static/css/button.css"/>
  <script src="../../resources/static/js/modernizr.custom4.js"></script>
  <!--bootstrap 들어가면 안됨!!!-->
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

  <![endif]-->
<body>
<div class="signin_wrap">
  <div class="signin">
    <div style="font-size: 1.5rem;font-family: 'TmonMonsori', serif;" >
      <h1>Welcome!</h1>
      <h3 style="color:gray">This is Sprint Manager Scheduling Program</h3>
    </div>
    <div class="input_wrap">
      <div class="container">
        <section class="content bgcolor-4">
          <span class="input input--chisato">
					<input class="input__field input__field--chisato" type="text" id="input-13" />
					<label class="input__label input__label--chisato" for="input-13">
						<span class="input__label-content input__label-content--chisato" data-content="User Id">아이디를 입력하세요</span>
					</label>
				</span>
          <span class="input input--chisato">
					<input class="input__field input__field--chisato" type="password" id="input-14" />
					<label class="input__label input__label--chisato" for="input-14">
						<span class="input__label-content input__label-content--chisato" data-content="Password">비밀번호를 입력하세요</span>
					</label>
				</span>

        </section>

      </div><!-- /container -->


    </div>
    <div style="margin:80px">
      <section class="color-4">
        <p>
          <button class="btn btn-4-pink btn-4a icon-arrow-right-pink" onclick="location.href='../home.html'">Sign In</button>
        </p>

      </section>
    </div>
  </div>
</div>
<div class="signup_right">
  <div class="signup">
    <div style="margin-bottom:50px;"><img src="../../resources/static/img/logo.png" width="100" height="100"/></div>
    <h1 style="color:white;">New here?</h1>
    <h4 style="color:white;">Don't have an account?</h4>
    <div style="margin-top:100px;">
      <section class="color-4">
        <p>
          <button class="btn btn-4 btn-4a icon-arrow-right" onclick="location.href='step1.html'">Sign up</button>
        </p>

      </section>
    </div>
  </div>
</div>
<script src="../../resources/static/js/classie2.js"></script>
<script>
  (function() {
    // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
    if (!String.prototype.trim) {
      (function() {
        // Make sure we trim BOM and NBSP
        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
        String.prototype.trim = function() {
          return this.replace(rtrim, '');
        };
      })();
    }

    [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
      // in case the input is already filled..
      if( inputEl.value.trim() !== '' ) {
        classie.add( inputEl.parentNode, 'input--filled' );
      }

      // events:
      inputEl.addEventListener( 'focus', onInputFocus );
      inputEl.addEventListener( 'blur', onInputBlur );
    } );

    function onInputFocus( ev ) {
      classie.add( ev.target.parentNode, 'input--filled' );
    }

    function onInputBlur( ev ) {
      if( ev.target.value.trim() === '' ) {
        classie.remove( ev.target.parentNode, 'input--filled' );
      }
    }
  })();
</script>
<script src="../../resources/static/js/classie4.js"></script>
<script>
  var buttons7Click = Array.prototype.slice.call(document.querySelectorAll('#btn-click button')),
          buttons9Click = Array.prototype.slice.call(document.querySelectorAll('button.btn-8g')),
          totalButtons7Click = buttons7Click.length,
          totalButtons9Click = buttons9Click.length;

  buttons7Click.forEach(function (el, i) {
    el.addEventListener('click', activate, false);
  });
  buttons9Click.forEach(function (el, i) {
    el.addEventListener('click', activate, false);
  });

  function activate() {
    var self = this, activatedClass = 'btn-activated';

    if (classie.has(this, 'btn-7h')) {
      // if it is the first of the two btn-7h then activatedClass = 'btn-error';
      // if it is the second then activatedClass = 'btn-success'
      activatedClass = buttons7Click.indexOf(this) === totalButtons7Click - 2 ? 'btn-error' : 'btn-success';
    } else if (classie.has(this, 'btn-8g')) {
      // if it is the first of the two btn-8g then activatedClass = 'btn-success3d';
      // if it is the second then activatedClass = 'btn-error3d'
      activatedClass = buttons9Click.indexOf(this) === totalButtons9Click - 2 ? 'btn-success3d' : 'btn-error3d';
    }

    if (!classie.has(this, activatedClass)) {
      classie.add(this, activatedClass);
      setTimeout(function () {
        classie.remove(self, activatedClass)
      }, 1000);
    }
  }

  document.querySelector('.btn-7i').addEventListener('click', function () {
    classie.add(document.querySelector('#trash-effect'), 'trash-effect-active');
  }, false);
</script>
</body>
</html>
