<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user_layout}">
<head>
    <title>로그인</title>
    <link th:href="@{/css/normalize3.css}" rel="stylesheet"/><!--input style-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<th:block layout:fragment="step-wrap">
    <div class="signin_wrap">
        <form action="/loginProcess" method="POST">
            <div class="signin">
                <div style="font-size: 1.3rem;font-family: 'TmonMonsori', serif;">
                    <img src="/img/logo.png" width="100" height="100"/>
                    <h1 style="font-size: 30pt">스프린트 매니저 스케줄링 프로그램</h1>
                    <h3 style="color:gray;font-size: 15pt;">서비스 이용을 위해 로그인을 해주세요</h3>
                </div>
                <div class="input_wrap">
                    <div th:if="${param.error}">
                        <p th:text="${exception}" style="color: red;"></p>
                    </div>
                    <div class="container">
                        <section class="content bgcolor-4">
          <span class="input input--chisato">
					<input class="input__field input__field--chisato" type="text" id="userid" name="userid"/>
					<label class="input__label input__label--chisato" for="input-13">
						<span class="input__label-content input__label-content--chisato" data-content="User Id">아이디를 입력하세요</span>
					</label>
				</span>
                            <span class="input input--chisato">
					<input class="input__field input__field--chisato" type="password" id="password" name="password"/>
					<label class="input__label input__label--chisato" for="input-14">
						<span class="input__label-content input__label-content--chisato" data-content="Password">비밀번호를 입력하세요</span>
					</label>
				</span>

                        </section>

                    </div><!-- /container -->


                </div>
                <div>
                    <section class="color-4">
                        <p>
                            <button class="btn btn-4-pink btn-4a icon-arrow-right-pink" onclick="valid_check();">Sign In
                            </button>
                        </p>

                    </section>
                </div>
            </div>
        </form>
    </div>
</th:block>
<th:block layout:fragment="signup-wrap">
    <h1 style="color:white;">처음이신가요?</h1>
    <h4 style="color:white;">아직 계정이 없으신가요?</h4>
    <div>
        <section class="color-4">
            <p>
                <button class="btn btn-4 btn-4a icon-arrow-right" onclick="location.href='/step1'">회원가입</button>
            </p>
        </section>
    </div>
</th:block>
</html>
<footer>
<!--    <script>-->
<!--        function valid_check(){-->
<!--            var userid = $('#userid').val();-->
<!--            var password = $('#password').val();-->
<!--            var param = {"userid":userid, "password":password}-->

<!--            $.ajax({-->
<!--                contentType: "application/json; charset=utf-8;",-->
<!--                type: "POST",-->
<!--                url: "/login_check",-->
<!--                dataType: "text",-->
<!--                data: JSON.stringify(param),-->
<!--                success: function (data) {-->
<!--                    alert(data);-->
<!--                }, error: function () {-->
<!--                    console.log("실패");-->
<!--                }-->
<!--            });-->
<!--        }-->

<!--    </script>-->

</footer>