<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>무제 문서</title>
    <link type="text/css" rel="stylesheet" href="../../resources/static/css/step2.css"/>
    <link type="text/css" rel="stylesheet" href="../../resources/static/css/signup_right.css"/>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/normalize2.css"/>
    <link rel="stylesheet" type="text/css"
          href="../../resources/static/fonts/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/demo2.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/set2.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/normalize3.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/demo3.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/component3.css"/>
    <script src="../../resources/static/js/modernizr.custom3.js"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7243260-2']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div class="step">
    <div style="text-align : center;"><img src="../../resources/static/img/step2.png" width="60%"><br/>
    </div>
    <div class="input_wrap">
        <div class="input">
            <div class="container">



                <section class="content bgcolor-4">
                    <h1>회원 정보 입력</h1>
                <span class="input input--chisato">
					<input class="input__field input__field--chisato" type="text" id="input-13" name="id"/>
					<label class="input__label input__label--chisato" for="input-13">
						<span class="input__label-content input__label-content--chisato"
                              data-content="USER ID">아이디 입력</span>
					</label>
				</span>
                    <span class="input input--chisato">
					<input class="input__field input__field--chisato" type="password" id="input-14" name="password"/>
					<label class="input__label input__label--chisato" for="input-14">
						<span class="input__label-content input__label-content--chisato"
                              data-content="Password">비밀번호 입력</span>
					</label>
				</span>
                    <span class="input input--chisato">
					<input class="input__field input__field--chisato" type="password" id="input-15"
                           name="password_check"/>
					<label class="input__label input__label--chisato" for="input-15">
						<span class="input__label-content input__label-content--chisato"
                              data-content="Confirm Password">비밀번호 재입력</span>
					</label>
				</span>
                    <span class="input input--chisato">
					<input class="input__field input__field--chisato" type="text" id="input-15" name="password_input"/>
					<label class="input__label input__label--chisato" for="input-15">
						<span class="input__label-content input__label-content--chisato"
                              data-content="Phone">전화번호 입력</span>
					</label>
				</span>
                </section>

            </div><!-- /container -->


        </div>
    </div>
    <hr id="hr">
    <section>

        <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
            <h2>희망하는 근무 타임을 선택해주세요 (여러개 선택 가능)</h2>
            <h3>선택한 시간대 내에서 작업시간이 결정되며, 시간대 내에서 <span>최소 1시간~최대 3시간, 주 최소 10시간</span> 근무를 만족하면 됩니다.<span>(주말 2시간 이상 포함)</span><br/>
                (ex. 오후 12시~18시 타임 근무시, 월요일 2시간, 화요일 2시간, 수요일 3시간, 목요일 3시간, 토요일 3시간 근무)</h3>
            <ul>
                <li><input id="cb6" name="cb6" type="checkbox" value="0:6"><label for="cb6">새벽 0시 ~ 6시</label></li>
                <li><input id="cb7" name="cb7" type="checkbox" value="0:6"><label for="cb7">오전 6시 ~ 12시</label></li>
                <li><input id="cb8" name="cb8" type="checkbox" value="0:6"><label for="cb8">오후 12시 ~ 18시</label></li>
                <li><input id="cb9" name="cb9" type="checkbox" value="0:6"><label for="cb9">저녁 18시 ~ 24시</label></li>
                <ul>
        </form>
    </section>
</div>
<div class="signup_right">
    <div class="signup">
        <div style="margin-bottom:50px;"><img src="../../resources/static/img/logo.png" width="100" height="100"/></div>
        <h1 style="color:white;">SIGN UP</h1>
        <h4 style="color:white;">Sprint Manager<br/>
            Scheduling Program</h4>
        <div style="margin-top:100px;">
            <button type="button" class="btn"><img src="../../resources/static/img/signup.png" width="245" height="56">
            </button>
        </div>
    </div>
</div>
<script src="../../resources/static/js/classie2.js"></script>
<script>
    (function () {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function () {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function () {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
            // in case the input is already filled..
            if (inputEl.value.trim() !== '') {
                classie.add(inputEl.parentNode, 'input--filled');
            }

            // events:
            inputEl.addEventListener('focus', onInputFocus);
            inputEl.addEventListener('blur', onInputBlur);
        });

        function onInputFocus(ev) {
            classie.add(ev.target.parentNode, 'input--filled');
        }

        function onInputBlur(ev) {
            if (ev.target.value.trim() === '') {
                classie.remove(ev.target.parentNode, 'input--filled');
            }
        }
    })();
</script>
<script src="../../resources/static/js/svgcheckbx.js"></script>
<!-- For the demo ad only -->
<script src="//tympanus.net/codrops/adpacks/demoad.js"></script>
</body>
</html>
