<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>무제 문서</title>
<link type="text/css" rel="stylesheet" href="../../resources/static/css/step1.css"/>
<link type="text/css" rel="stylesheet" href="../../resources/static/css/signup_right.css"/>
<link rel="stylesheet" type="text/css" href="../../resources/static/css/button.css"/>
<script src="../../resources/static/js/modernizr.custom4.js"></script>
<style>
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
</style>
</head>
<body>
<div class="step">
  <div style="text-align : center;"> <img src="../../resources/static/img/step1.png"><br />
  </div>
  <div class="input_wrap">
    <div class="input">
      <h1>약관 동의</h1>
      <label>
        <input type="checkbox" name="all_chk" value="all_chk">
        전체 동의</label>
      <br />
      <details>
        <summary>개인정보 수집항목
          <label class="terms">
            <input type="checkbox" name="chk1" value="chk1">
            동의합니다.</label>
        </summary>
        <div class="tpt">ABC</div>
      </details>
      <details>
        <summary>개인정보 수집목적
          <label class="terms">
            <input type="checkbox" name="chk2" value="chk1">
            동의합니다.</label>
        </summary>
        <div class="tpt">ABC</div>
      </details>
      <details>
        <summary>개인정보 보유 및 이용기간
          <label class="terms">
            <input type="checkbox" name="chk3" value="chk1">
            동의합니다.</label>
        </summary>
        <div class="tpt">ABC</div>
      </details>
      <details>
        <summary>개인정보 제3자 제공동의
          <label class="terms">
            <input type="checkbox" name="chk4" value="chk1">
            동의합니다.</label>
        </summary>
        <div class="tpt">ABC</div>
      </details>
    </div>
  </div>
</div>
<div class="signup_right">
  <div class="signup">
    <div style="margin-bottom:50px;"><img src="../../resources/static/img/logo.png" width="100" height="100"/></div>
    <h1 style="color:white;">SIGN UP</h1>
    <h4 style="color:white;">Sprint Manager<br/>
      Scheduling Program</h4>
    <div style="margin-top:100px;">
      <section class="color-4">
        <p>
          <button class="btn btn-4 btn-4a icon-arrow-right" onclick="location.href='step2.html'">NEXT</button>
        </p>

      </section>
    </div>
  </div>
</div>
<script src="../../resources/static/js/classie4.js"></script>
<script>
  var buttons7Click = Array.prototype.slice.call(document.querySelectorAll('#btn-click button')),
          buttons9Click = Array.prototype.slice.call(document.querySelectorAll('button.btn-8g')),
          totalButtons7Click = buttons7Click.length,
          totalButtons9Click = buttons9Click.length;

  buttons7Click.forEach(function (el, i) {
    el.addEventListener('click', activate, false);
  });
  buttons9Click.forEach(function (el, i) {
    el.addEventListener('click', activate, false);
  });

  function activate() {
    var self = this, activatedClass = 'btn-activated';

    if (classie.has(this, 'btn-7h')) {
      // if it is the first of the two btn-7h then activatedClass = 'btn-error';
      // if it is the second then activatedClass = 'btn-success'
      activatedClass = buttons7Click.indexOf(this) === totalButtons7Click - 2 ? 'btn-error' : 'btn-success';
    } else if (classie.has(this, 'btn-8g')) {
      // if it is the first of the two btn-8g then activatedClass = 'btn-success3d';
      // if it is the second then activatedClass = 'btn-error3d'
      activatedClass = buttons9Click.indexOf(this) === totalButtons9Click - 2 ? 'btn-success3d' : 'btn-error3d';
    }

    if (!classie.has(this, activatedClass)) {
      classie.add(this, activatedClass);
      setTimeout(function () {
        classie.remove(self, activatedClass)
      }, 1000);
    }
  }

  document.querySelector('.btn-7i').addEventListener('click', function () {
    classie.add(document.querySelector('#trash-effect'), 'trash-effect-active');
  }, false);
</script>
</body>
</html>
