<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/user_layout}">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>회원가입 STEP2-2</title>
    <link th:href="@{/css/step2.css}" rel="stylesheet"/>
    <link th:href="@{/css/normalize3.css}" rel="stylesheet"/>
    <link th:href="@{/css/component3.css}" rel="stylesheet"/>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7243260-2']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<th:block layout:fragment="step-wrap">
    <div class="step">
        <div style="text-align : center;"><img th:src="@{/img/step2.png}"></div>
        <div class="user_input_wrap">
            <br><br>
            <section>
                <form id="frm" class="ac-custom ac-checkbox ac-checkmark" autocomplete="off" style="margin-bottom: 15%;">
                    <input type="hidden" name="userid" th:value="${userid}">
                    <h2>희망하는 근무 타임을 선택해주세요 (여러개 선택 가능)</h2>
                    <h3>선택한 시간대 내에서 작업시간이 결정되며, 시간대 내에서 <span>최소 1시간~최대 3시간, 주 최소 10시간</span> 근무를 만족하면
                        됩니다.<span>(주말 2시간 이상 포함)</span><br/>
                        (ex. 오후 12시~18시 타임 근무시, 월요일 2시간, 화요일 2시간, 수요일 3시간, 목요일 3시간, 토요일 3시간 근무)</h3>
                    <ul>
                        <li><input name='worktime' type="checkbox" value="0:6"><label for="cb6">새벽 0시 ~ 6시</label></li>
                        <li><input name='worktime' type="checkbox" value="6:12"><label for="cb7">오전 6시 ~ 12시</label></li>
                        <li><input name='worktime' type="checkbox" value="12:18"><label for="cb8">오후 12시 ~ 18시</label></li>
                        <li><input name='worktime' type="checkbox" value="18:24"><label for="cb9">저녁 18시 ~ 24시</label></li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</th:block>
<th:block layout:fragment="signup-wrap">
    <h1 style="color:white;">SIGN UP</h1>
    <h4 style="color:white;">Sprint Manager<br/>
        Scheduling Program</h4>
    <div style="margin-top:100px;">
        <section class="color-4">
            <p>
                <button class="btn btn-4 btn-4a icon-arrow-right" onclick="go_checkbox(); return false;">
                    submit
                </button>
            </p>
        </section>
    </div>
</th:block>
</html>
<footer>
    <script src="/js/svgcheckbx.js"></script>
    <!-- For the demo ad only -->
    <script src="http://tympanus.net/codrops/adpacks/demoad.js"></script>
    <script>
        function go_checkbox(){
            var array = new Array(); // 배열 선언
            $('input:checkbox[name=worktime]:checked').each(function() { // 체크된 체크박스의 value 값을 가지고 온다.
                array.push(this.value);
            });

            if(array==""){
                alert("한 개 이상의 타임을 선택해주세요.");
            }else{
                let answer = confirm("희망시간을 저장하시겠습니까? \n희망시간은 마이페이지에서 수정이 가능합니다.");
                if(answer==true){
                    $("#frm").attr("action", "/saveHopeTime");
                    $("#frm").submit();
                }
            }
        }
    </script>
</footer>

