<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/user_layout}">
<head>
    <title>회원가입 STEP1</title>
    <link th:href="@{/css/step1.css}" rel="stylesheet"/>
    <style>
        input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }
    </style>
</head>

<th:block layout:fragment="step-wrap">
    <div class="step">
        <div style="text-align : center;"><img th:src="@{/img/step1.png}"></div>
        <div class="user_input_wrap">
            <div class="user_input">
                <h1>약관 동의</h1>
                <label>
                    <input type="checkbox" name="all_chk" value="all_chk">
                    전체 동의</label>
                <br/>
                <details>
                    <summary>개인정보 수집항목
                        <label class="terms">
                            <input type="checkbox" name="chk1" value="chk1">
                            동의합니다.</label>
                    </summary>
                    <div class="tpt">ABC</div>
                </details>
                <details>
                    <summary>개인정보 수집목적
                        <label class="terms">
                            <input type="checkbox" name="chk2" value="chk1">
                            동의합니다.</label>
                    </summary>
                    <div class="tpt">ABC</div>
                </details>
                <details>
                    <summary>개인정보 보유 및 이용기간
                        <label class="terms">
                            <input type="checkbox" name="chk3" value="chk1">
                            동의합니다.</label>
                    </summary>
                    <div class="tpt">ABC</div>
                </details>
                <details>
                    <summary>개인정보 제3자 제공동의
                        <label class="terms">
                            <input type="checkbox" name="chk4" value="chk1">
                            동의합니다.</label>
                    </summary>
                    <div class="tpt">ABC</div>
                </details>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="signup-wrap">
    <h1 style="color:white;">SIGN UP</h1>
    <h4 style="color:white;">Sprint Manager<br/>
        Scheduling Program</h4>
    <div style="margin-top:100px;">
        <section class="color-4">
            <p>
                <button class="btn btn-4 btn-4a icon-arrow-right" onclick="location.href='step2'">NEXT</button>
            </p>
        </section>
    </div>
</th:block>
</html>