<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Multi-Level Push Menu: Off-screen navigation with multiple levels"/>
<meta name="keywords"
      content="multi-level, menu, navigation, off-canvas, off-screen, mobile, levels, nested, transform"/>
<meta name="author" content="Codrops"/>
<!--/* 추가할 css */-->
<link th:href="@{/css/normalize.css}" rel="stylesheet"/>
<link th:href="@{/css/demo.css}" rel="stylesheet"/>
<link th:href="@{/css/icons.css}" rel="stylesheet"/>
<link th:href="@{/css/component.css}" rel="stylesheet"/>
<link th:href="@{/css/menu_list.css}" rel="stylesheet"/>

<!--    <link th:href="@{/css/default.css}" rel="stylesheet"/>-->
<link th:href="@{/css/button.css}" rel="stylesheet"/>
<link th:href="@{/css/table.css}" rel="stylesheet"/>
<link th:href="@{/css/paging.css}" rel="stylesheet"/>
<link th:href="@{/css/modal-component.css}" rel="stylesheet"/>
</html>

