<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="header">
    <meta charset="UTF-8"/>
    <!--/* 추가할 css */-->
    <link th:href="@{/css/normalize.css}" rel="stylesheet"/>
    <link th:href="@{/css/demo.css}" rel="stylesheet"/>
    <link th:href="@{/css/icons.css}" rel="stylesheet"/>
    <link th:href="@{/css/component.css}" rel="stylesheet"/>
    <link th:href="@{/css/menu_list.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/modernizr.custom.js}"></script>

    <!--    <link th:href="@{/css/default.css}" rel="stylesheet"/>-->
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
    <link th:href="@{/css/paging.css}" rel="stylesheet"/>
</div>
</html>

