<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- mp-menu -->
<nav id="mp-menu" class="mp-menu">
    <div class="mp-level">
        <img class="logo" src="/img/logo.png" width="50" height="50"/>
        <h2 class="icon icon-world">Sprint Manager Scheduling System</h2>
        <ul>
            <!--      <li><a class="icon icon-shop" href="home.html" >메인화면</a></li>-->
            <li class="icon icon-arrow-left">
                <a class="icon icon-calendar" href="#">스케줄</a>
                <div class="mp-level">
                    <h2 class="icon icon-calendar">스케줄</h2>
                    <ul>
                        <li><a href="/calendar_admin">전체 스케줄 조회</a></li>
                        <li><a href="/calendar">개인 스케줄 조회</a></li>
                        <li><a href="/config_create_schedule">근무 스케줄 배정</a></li>
                         //<li><a href="/full-calendar/create_schedule">근무 스케줄 배정</a></li>
                        <li><a href="/calendar_admin_update">스케줄 수정</a></li>
                    </ul>
                </div>
            </li>
            <li class="icon icon-arrow-left">
                <a class="icon icon-user" href="#">매니저관리</a>
                <div class="mp-level">
                    <h2 class="icon icon-user">매니저관리</h2>
                    <ul>
                        <li><a href="/all_manager_list">전체 매니저 조회</a></li>
                        <li><a href="/work_manager_list">근무중인 매니저</a></li>
                        <!--            <li><a href="#">신입 매니저 조회</a></li>-->
                    </ul>
                </div>
            </li>
            <li class="icon icon-arrow-left">
                <a class="icon icon-mail" href="#">요청알림관리</a>
                <div class="mp-level">
                    <h2 class="icon icon-mail">요청알림관리</h2>
                    <ul>
                        <li><a href="/schedule_upd_list">스케줄 수정 요청</a></li>
                        <li><a href="/withdrawal_req_list">매니저 탈퇴 요청</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="icon icon-key" href="/manager_mypage">마이페이지(manager)</a></li>
            <li><a class="icon icon-key" href="/admin_mypage">마이페이지(admin)</a></li>

        </ul>
    </div>
</nav>
<!-- /mp-menu -->
</html>