<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="top-wrap" style="width:100%; display: flow-root;">
    <div class="block block-40 clearfix">
        <p><a href="#" id="trigger" class="menu-trigger">Open/Close Menu</a></p>
    </div>
    <div class="access_user">
        <div class="access_user_hello" style="font-size: 1.4rem; font-weight: 600;color: #b0b0b0f2">
            안녕하세요 <span style="color: #ff6d6d">홍길동</span>님!
        </div>
        <div class="logout">
        </div>
    </div>
</div>
</html>

