<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="user_header">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--/* 추가할 css */-->
    <link th:href="@{/css/signup_right.css}" rel="stylesheet"/>
    <link th:href="@{/css/normalize2.css}" rel="stylesheet"/>
    <link th:href="@{/css/demo2.css}" rel="stylesheet"/>
    <link th:href="@{/css/set2.css}" rel="stylesheet"/>
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
    <link th:href="@{/fonts/font-awesome-4.2.0/css/font-awesome.min.css}" rel="stylesheet"/>
</div>
</html>

