<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            $("#menu-frame").load("../menu.html");  // 원하는 파일 경로를 삽입하면 된다
        });
    </script>
    <title>Bootstrap datepicket demo</title>

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
    <script type='text/javascript'
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap-datepicker.kr.js" charset="UTF-8"></script>


    <script type='text/javascript'>

        $(function () {
            $('.input-group.date').datepicker({
                calendarWeeks: false,
                todayHighlight: true,
                autoclose: true,
                format: "yyyy/MM/dd",
                language: "kr"
            });

        });

    </script>

</head>


<body>

<div class="container">
<!--    <div id="menu-frame"></div>-->
    <h1>Sketcher Scheduling</h1>
    <form action="scheduleForm.html" th:action method="post">
        <h2>
            <td>근무 날짜</td>
        </h2>
        <div class="input-group date">
            <input type="text" class="form-control" id="scheduleDate" name="scheduleDate">
            <span class="input-group-addon">
        <i class="glyphicon glyphicon-calendar"></i>
        </span>
        </div>
        <div>
            <h2>
                <td>근무 시간</td>
            </h2>
            <tr>
                <td valgn="top">
                    <select name="scheduleTime" style="width:150px;height:35px;">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                <td>시</td>
                </td>
            </tr>
        </div>
        <div>
            <h2>
                <td>배정 인원</td>
            </h2>
            <input type="text" name="workforce" id="workforce" placeholder="배정인원을 입력해주세요."
                   style="width:200px;height:35px;">
        </div>
        <div>
            <h2>
                <td>예상 카드 건수</td>
            </h2>
            <input type="text" name="expected_card_cnt" id="expected_card_cnt" placeholder="예상카드건수를 입력해주세요."
                   style="width:200px;height:35px;">
        </div>
        <div>
            <br>
            <br>
            <button type="submit" style="width:200px;height:35px; background-color:lightpink; font-weight: bold; font-size: 16px">입력</button>
            <button type="submit" style="width:200px;height:35px; background-color: darkgray; font-weight: bold; font-size: 16px">취소</button>
        </div>
    </form>
</div>

</body>

</html>


<!--### bootstrap-datepicker.kr.js ###-->

<!--;(function($){-->
<!--$.fn.datepicker.dates['kr'] = {-->
<!--days: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일", "일요일"],-->
<!--daysShort: ["일", "월", "화", "수", "목", "금", "토", "일"],-->
<!--daysMin: ["일", "월", "화", "수", "목", "금", "토", "일"],-->
<!--months: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],-->
<!--monthsShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"]-->
<!--};-->
<!--}(jQuery));-->

