@charset "utf-8";
/* CSS Document */

body {

    margin: 0;
}

.signin_wrap {
    float: left;
    width: 70%;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input_wrap {
    margin-top: 80px;
}

.input {
    padding: 3px;
}

.btn {
    padding: 0;
    border: none;
    background: none;
}

.input {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
    margin: 2%;
}