@charset "utf-8";
/* CSS Document */

.info {
	float:left;
	margin-left:50px;
	box-sizing: border-box;
}

.my_page_wrap {
	display:flex;
	justify-content:center;
	align-items:center;
}

.hope_time {
	margin-left:75px;
}

.btn_align {
	text-align:center;
	margin:20px 0px 20px 20px;
}

.info_wrap {
	float:left;
	margin:50px;
}

.user_info_wrap {
	//float:left;
	//width:49%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.work_record_wrap {
	//float:right;
	//width:49%;
	display:flex;
	justify-content:center;
	align-items:center;
}