@charset "utf-8";
/* CSS Document */

body {
	background: #eceae9;
	margin:0;
}

.step {
	float:left;
	margin-top: 50px;
	width:70%;
	padding:30px;
	box-sizing: border-box;
}

.input_wrap {
	width:100%;
}

.input {
	width:613px;
	margin: 0 auto;
}

.signup_right{
	float:right;
	width:30%;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;

	background-image:url(../img/background.jpg);
	background-repeat : no-repeat;
    background-size : cover;
	box-sizing: border-box;
	text-align:center;
	
	position:fixed;
	right:0;
}

.btn {
	padding: 0;
	border: none;
	background: none;
}