<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/menu_layout}">
<head>
    <title>개인 스케줄 조회</title>
    <link th:href="@{/css/manager_list.css}" rel="stylesheet"/>
    <!-- jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- fullcalendar CDN -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet'/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
    <!-- fullcalendar 언어 CDN -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var initialLocaleCode = 'ko';
            var localeSelectorEl = document.getElementById('locale-selector');
            var calendarEl = document.getElementById('calendar');

            let today = new Date();

            let year = today.getFullYear(); // 년도
            let month = (today.getMonth() + 1).toString().padStart(2, '0');  // 월
            let date = (today.getDate()).toString().padStart(2, '0');  // 날짜
            // let day = today.getDay();  // 요일

            $(function () {
                var request = $.ajax({
                    url: "/full-calendar/calendar", // 변경하기
                    method: "GET",
                    contentType: 'application/json'
                })
                    .fail(function (request, status, error) {
                        alert("로그인해주세요." + error);
                        location.href = "/login"
                    })
                    .done(function (data) {
                        console.log(data); // log 로 데이터 찍어주기.

                        var calendar = new FullCalendar.Calendar(calendarEl, {
                            headerToolbar: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                            },
                            initialDate: year + "-" + month + "-" + date,
                            locale: initialLocaleCode,
                            buttonIcons: false, // show the prev/next text
                            weekNumbers: false,
                            navLinks: true,
                            editable: true,
                            selectable: true,
                            droppable: true, // this allows things to be dropped onto the calendar

                            /**
                             * 드래그로 이벤트 수정하기
                             */
                            eventDrop: function (info) {

                                if (confirm("스케줄 수정을 요청하시겠습니까 ?") == true) {

                                    var events = new Array(); // Json 데이터를 받기 위한 배열 선언
                                    var obj = new Object();

                                    obj.title = info.event._def.title;
                                    obj.start = info.event._instance.range.start;
                                    obj.end = info.event._instance.range.end;

                                    obj.oldTitle = info.oldEvent._def.title;
                                    obj.oldStart = info.oldEvent._instance.range.start;
                                    obj.oldEnd = info.oldEvent._instance.range.end;

                                    events.push(obj);
                                    console.log(events);

                                    $(function modifyData() {
                                        $.ajax({
                                            url: "/full-calendar/calendar",
                                            method: "POST",
                                            // dataType: "json",
                                            data: JSON.stringify(events),
                                            contentType: 'application/json',
                                        })
                                            .done(function () {
                                                alert("스케줄 수정 요청을 보냈습니다.");
                                                location.reload();
                                            })
                                    })

                                } else {
                                    location.reload();
                                }

                            },
                            eventResize: function (info) {
                                console.log(info);
                                if (confirm("스케줄 수정을 요청하시겠습니까 ?")) {

                                    var events = new Array(); // Json 데이터를 받기 위한 배열 선언
                                    var obj = new Object();

                                    obj.title = info.event._def.title;
                                    obj.start = info.event._instance.range.start;
                                    obj.end = info.event._instance.range.end;

                                    obj.oldTitle = info.oldEvent._def.title;
                                    obj.oldStart = info.oldEvent._instance.range.start;
                                    obj.oldEnd = info.oldEvent._instance.range.end;

                                    events.push(obj);

                                    console.log(events);

                                    $(function modifyData() {
                                        $.ajax({
                                            url: "/full-calendar/calendar",
                                            method: "POST",
                                            // dataType: "json",
                                            data: JSON.stringify(events),
                                            contentType: 'application/json',
                                        })
                                            .done(function () {
                                                alert("스케줄 수정 요청을 보냈습니다.");
                                                location.reload();
                                            })
                                    })
                                } else {
                                    location.reload();
                                }
                            },


                            events: data
                        });

                        calendar.render();

                    });

            });

            // calendar.render();
        });
        // build the locale selector's options
        calendar.getAvailableLocaleCodes().forEach(function (localeCode) {
            var optionEl = document.createElement('option');
            optionEl.value = localeCode;
            optionEl.selected = localeCode == initialLocaleCode;
            optionEl.innerText = localeCode;
            localeSelectorEl.appendChild(optionEl);
        });

        // when the selected option changes, dynamically change the calendar option
        localeSelectorEl.addEventListener('change', function () {
            if (this.value) {
                calendar.setOption('locale', this.value);
            }
        });

        // });

    </script>
    <style>

        body {
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        }

        table {
            text-align: left;
        }

        #calendar {
            max-width: 1599px;
            margin: 40px auto;
            /* padding: 0 10px; */
            font-size: 1.0rem;
        }

    </style>

</head>

<th:block layout:fragment="ground-wrap">
    <div class="ground">
        <div class="title1">
            <h1>개인 스케줄 조회</h1>
            <img src="/img/logo1.png" height="80"/>
        </div>
        <div class="main">

            <!--                <div id='top'>-->

            <!--                    Locales:-->
            <!--                    <select id='locale-selector'></select>-->

            <!--                </div>-->

            <div id='calendar'></div>
        </div>
    </div>

    <script src="fullcalendar/lib/locales-all.js"></script>
    <script>
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ["dayGrid"]
            , locale: "ko"
        });
    </script>
</th:block>
</html>