<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/menu_layout}">
<head>
    <title>근무 스케줄 배정</title>
    <link th:href="@{/css/modal-component.css}" rel="stylesheet"/>
    <link th:href="@{/css/create_schedule.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <style media="screen">
        .no-csstransforms3d .mp-pusher, .no-js .mp-pusher {
            padding-left: 0;
        }

        .ground {
            min-height: 800px;
        }

        .menu-trigger {
            display: none;
        }

        .title1 {
            align-items: center;
        }

        .title1 > button {
            height: fit-content;
        }

        .feat-title {
            font-size: 18pt;
            font-weight: 600;
        }

        .md-content {
            color: #000;
            background: #ffffff;

        }

        .manager_weight {
            text-align: right;
            border-right: hidden;
        }
    </style>
</head>

<th:block layout:fragment="ground-wrap">
    <div class="ground">
        <div class="title1">
            <h1>근무 스케줄 배정 준비</h1>
            <button class="btn btn-1 btn-1a md-close" style="margin: 0; padding: 15px;"
                    onclick="window.history.back();">배정 취소
            </button>
            <button class="btn btn-1 btn-1a md-close" style="margin: 0; padding: 15px; margin-left: 10px;"
                    onclick="location.href='/create_schedule'">배정 시작
            </button>
        </div>

        <div class="main">

            <div style="width: 100%;">
                <div>
                    <span class="feat-title">현재 설정한 예상 요청 건수</span>
                    <button class="btn btn-1 btn-1a md-trigger" style="margin: 0; padding: 15px; float: right;"
                            data-modal="modal-1">수정하기
                    </button>
                </div>
                <br>
                <hr>
                <br>
                <div id="myfirstchart" style="width: 100%;"></div>

                <br>
                <p style="font-size: 15pt; font-weight: 600;">현재 설정된 요청카드건수 최대값 : <span id="max_num_of_cards"
                                                                                        style="color: rgb(11, 98, 164);">250</span>건
                </p>
                <br><br><br>

                <form id="percentForm" name="percentForm" autocomplete="off" method="post" action="/updatePercent">
                    <input type="hidden" th:value="${percent.id}" name="id">
                    <div>
                        <span class="feat-title">매니저 가중치 설정</span>
                        <button class="btn btn-1 btn-1a md-close" style="margin: 0; padding: 15px; float: right;"
                                onclick="return updatePercent()">변경사항 저장
                        </button>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <table>
                        <thead>
                        <tr>
                            <th colspan="2">매니저 가중치</th>
                            <th style="width: 50%">매니저 가중치 비율</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="manager_weight">3</td>
                            <td style="text-align:left">(High)</td>
                            <td><input style="text-align:right" type="number" th:value="${percent.high}" name="high"> %
                            </td>
                        </tr>
                        <tr>
                            <td class="manager_weight">2</td>
                            <td style="text-align:left">(Middle)</td>
                            <td><input style="text-align:right" type="number" th:value="${percent.middle}"
                                       name="middle">
                                %
                            </td>
                        </tr>
                        <tr>
                            <td class="manager_weight">1</td>
                            <td style="text-align:left">(Low)</td>
                            <td><input style="text-align:right" type="number" th:value="${percent.low}" name="low"> %
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <br><br><br><br>
        </div>
    </div>
    <!--회원탈퇴 요청 modal-->
    <div class="md-modal md-effect-1" id="modal-1">
        <div class="md-content" style="padding: 10px;">
            <div style="display: flex; padding: 0">
                <h3 style="flex: auto;">시간당 요청카드건수 설정값 변경</h3>
                <button type="" class="btn btn-1 btn-1a md-close" style="margin: 0; padding: 15px; float: right;">변경사항
                    저장
                </button>
            </div>
            <form id="dropoutForm" name="dropoutForm" autocomplete="off" method="post" action="/dropout"
                  onsubmit="return dropoutCheck()">
                <div id="updateEstNumTable"></div>
            </form>
        </div>
    </div>
    <div class="md-overlay"></div>
</th:block>
</html>
<script type="text/JavaScript">
    function updatePercent() {
        var high = document.percentForm.high.value.trim();
        var middle = document.percentForm.middle.value.trim();
        var low = document.percentForm.low.value.trim();


        if (high == "" || middle == "" || low == "") {
            alert("값을 모두 입력해주세요.");
            return false
        } else if (Number(high) < 0 || Number(middle) < 0 || Number(low) < 0) {
            alert("양수를 입력해주세요.");
            return false;
        } else if (Number(high) + Number(middle) + Number(low) != 100) {
            alert("값의 합이 100이 되도록 입력해주세요.");
            return false;
        } else {
            let answer = confirm("변경 사항을 저장하시겠습니까?");
            if (answer == true) {
                $("#percentForm").attr("action", "/updatePercent");
                $("#percentForm").submit();
            }
        }
    }
</script>

<script>
    const data_list = [];
    let max_est_num_of_cards = 0;
    var element_max_num = document.getElementById("max_num_of_cards");
    var htmlStr = "<table style=\"padding: 20px;\">\n" +
        "                    <thead>\n" +
        "                    <tr>\n" +
        "                        <th>시간</th>\n" +
        "                        <th>예상카드건수</th>\n" +
        "                    </tr>\n" +
        "                    </thead>";

    $(document).ready(function () {
        show_chart();
    })

    function show_chart() {
        $.ajax({
            url: "/set_est_num_of_cards",
            type: "get",
            datatype: "json",
            success: function (data) {
                htmlStr += "<tbody>";
                $.each(data, function (index, item) { // 데이터 =item
                    data_list.push({time: item.time.toString(), value: item.numOfCards})
                    htmlStr += "<tr>";
                    htmlStr += "<td>" + item.time + "</td>";
                    htmlStr += "<td><input type='text' style='width: 80%;' value='" + item.numOfCards + "'></td>";
                    htmlStr += "</tr>";
                    if (item.numOfCards > max_est_num_of_cards)
                        max_est_num_of_cards = item.numOfCards;
                });
                element_max_num.innerText = max_est_num_of_cards;
                new Morris.Bar({
                    // ID of the element in which to draw the chart.
                    element: 'myfirstchart',
                    // Chart data records -- each entry in this array corresponds to a point on
                    // the chart.
                    data: data_list,
                    // The name of the data record attribute that contains x-values.
                    xkey: 'time',
                    // A list of names of data record attributes that contain y-values.
                    ykeys: ['value'],
                    // Labels for the ykeys -- will be displayed when you hover over the
                    // chart.
                    labels: ['Value']
                });
                htmlStr += "</tbody> </table>";
                $("#updateEstNumTable").html(htmlStr);
            },
            error: function () {
                alert('error');
            }
        });

    }


</script>
<footer>

</footer>