<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/menu_layout}">
<head>
    <title>근무 스케줄 배정</title>
    <link th:href="@{/css/modal-component.css}" rel="stylesheet"/>
    <link th:href="@{/css/create_schedule.css}" rel="stylesheet"/>
    <style media="screen">
        .no-csstransforms3d .mp-pusher, .no-js .mp-pusher {
            padding-left: 0;
        }

        .menu-trigger {
            display: none;
        }
        .title1 {
            align-items: center;
        }
        .title1 > button {
            height: fit-content;
        }
        .main {
            margin: 0 50px 100px 50px;
            display: flex;
        }
    </style>
</head>

<th:block layout:fragment="ground-wrap">
    <div class="ground">
        <div class="title1">
            <h1>근무 스케줄 배정</h1>
            <button class="btn btn-1 btn-1a md-close" style="margin: 0; padding: 15px;"
                    onclick="">배정 취소
            </button>
            <button class="btn btn-1 btn-1a md-close" style="margin: 0; padding: 15px; margin-left: 10px;"
                    onclick="">배정 완료
            </button>
        </div>
        <div class="remocons">
            <div class="remote">
                <div class="remote_img"><img src="/img/remocon.svg" width="50" height="50"/>
                    <p><b>스케줄<br>리모컨</b></p></div>
                <div class="checks">
                    <p><input type="checkbox"> 필요인원 미달 스케줄</p>
                    <p><input type="checkbox"> 필요인원 초과 스케줄</p>
                </div>
                <div class="button_box">
                    <button class="btn btn-1 btn-1a md-close" style="margin: 0; padding: 15px;"
                            onclick="">스케줄<br>조회
                    </button>
                </div>
            </div>
            <div class="remote" style="border-left: 2px solid #8080805e;">
                <div class="remote_img"><img src="/img/remocon.svg" width="50" height="50"/>
                    <p><b>매니저<br>리모컨</b></p></div>
                <div class="checks">
                    <p><input type="checkbox"> 근무 조건 미달성</p>
                    <p><input type="checkbox"> 주말 2시간 근무 미배정</p>
                    <p><input type="checkbox"> 총 근무시간 10시간 이하</p>

                </div>
                <div class="button_box">
                    <button class="btn btn-1 btn-1a md-close" style="margin: 0; padding: 15px;"
                            onclick="">매니저<br>조회
                    </button>
                </div>
            </div>
        </div>
        <div class="schedule_box">
            <div class="days">
                <button class="btn btn-1 btn-1a md-close"
                        onclick="">월
                </button>
                <button class="btn btn-1 btn-1a md-close"
                        onclick="">화
                </button>
                <button class="btn btn-1 btn-1a md-close"
                        onclick="">수
                </button>
                <button class="btn btn-1 btn-1a md-close"
                        onclick="">목
                </button>
                <button class="btn btn-1 btn-1a md-close"
                        onclick="">금
                </button>
                <button class="btn btn-1 btn-1a md-close"
                        onclick="">토
                </button>
                <button class="btn btn-1 btn-1a md-close"
                        onclick="">일
                </button>
            </div>
            <div style="display: flex; align-items: center; font-size: larger;">
                <p>2022-05-01</p>
                <h3 style="margin-left: 10px;">월요일</h3>
            </div>
        </div>
        <div class="main">

            <div class="left_content">

                <div>
                    <table>
                        <tbody>
                        <tr>
                            <td>00</td>
                            <td rowspan="6">새벽</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>05</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>06</td>
                            <td rowspan="6">오전</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>07</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>08</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>09</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td rowspan="6">오후</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td rowspan="6">저녁</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="user_remote_controller">
                <div style="margin: 10px;"><select>
                    <option>배정시간 많은 순</option>
                    <option></option>
                    <option></option>
                </select></div>
                <div class="managers">
                    <div class="manager">
                        <img src="/img/ok.svg" height="35"/>&nbsp
                        <p><b>박태영</b></p>&nbsp
                        <p>user1</p>&nbsp
                        <p style="color: blue;">(10시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/no.svg" height="35"/>&nbsp
                        <p><b>이혜원</b></p>&nbsp
                        <p>user2</p>&nbsp
                        <p style="color: red;">(8시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/ok.svg" height="35"/>&nbsp
                        <p><b>박태영</b></p>&nbsp
                        <p>user1</p>&nbsp
                        <p style="color: blue;">(10시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/ok.svg" height="35"/>&nbsp
                        <p><b>박태영</b></p>&nbsp
                        <p>user1</p>&nbsp
                        <p style="color: blue;">(10시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/ok.svg" height="35"/>&nbsp
                        <p><b>박태영</b></p>&nbsp
                        <p>user1</p>&nbsp
                        <p style="color: blue;">(10시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/no.svg" height="35"/>&nbsp
                        <p><b>이혜원</b></p>&nbsp
                        <p>user2</p>&nbsp
                        <p style="color: red;">(8시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/no.svg" height="35"/>&nbsp
                        <p><b>이혜원</b></p>&nbsp
                        <p>user2</p>&nbsp
                        <p style="color: red;">(8시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/no.svg" height="35"/>&nbsp
                        <p><b>이혜원</b></p>&nbsp
                        <p>user2</p>&nbsp
                        <p style="color: red;">(8시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/ok.svg" height="35"/>&nbsp
                        <p><b>박태영</b></p>&nbsp
                        <p>user1</p>&nbsp
                        <p style="color: blue;">(10시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/no.svg" height="35"/>&nbsp
                        <p><b>이혜원</b></p>&nbsp
                        <p>user2</p>&nbsp
                        <p style="color: red;">(8시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/ok.svg" height="35"/>&nbsp
                        <p><b>박태영</b></p>&nbsp
                        <p>user1</p>&nbsp
                        <p style="color: blue;">(10시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/ok.svg" height="35"/>&nbsp
                        <p><b>박태영</b></p>&nbsp
                        <p>user1</p>&nbsp
                        <p style="color: blue;">(10시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/ok.svg" height="35"/>&nbsp
                        <p><b>박태영</b></p>&nbsp
                        <p>user1</p>&nbsp
                        <p style="color: blue;">(10시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/no.svg" height="35"/>&nbsp
                        <p><b>이혜원</b></p>&nbsp
                        <p>user2</p>&nbsp
                        <p style="color: red;">(8시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/no.svg" height="35"/>&nbsp
                        <p><b>이혜원</b></p>&nbsp
                        <p>user2</p>&nbsp
                        <p style="color: red;">(8시간)</p>
                    </div>
                    <div class="manager">
                        <img src="/img/no.svg" height="35"/>&nbsp
                        <p><b>이혜원</b></p>&nbsp
                        <p>user2</p>&nbsp
                        <p style="color: red;">(8시간)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="md-overlay"></div>
</th:block>
</html>
<footer>

</footer>