<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/menu_layout}">
<head>
    <title>전체 스케줄 조회</title>
    <link th:href="@{/css/manager_list.css}" rel="stylesheet"/>
    <!-- jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- fullcalendar CDN -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet'/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
    <!-- fullcalendar 언어 CDN -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {

            let today = new Date();

            let year = today.getFullYear(); // 년도
            let month = (today.getMonth() + 1).toString().padStart(2, '0');  // 월
            let date = (today.getDate()).toString().padStart(2, '0');  // 날짜

            $(function () {
                var request = $.ajax({
                    url: "/full-calendar/calendar-admin", // 변경하기
                    method: "GET",
                    dataType: "json"
                });

                request.done(function (data) {
                    console.log(data); // log 로 데이터 찍어주기.

                    var calendarEl = document.getElementById('calendar');

                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialDate: year + "-" + month + "-" + date,
                        initialView: 'timeGridWeek',
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                        },
                        editable: true,
                        droppable: true, // this allows things to be dropped onto the calendar


                        locale: 'ko',
                        /**
                         * data 로 값이 넘어온다. log 값 전달.
                         */
                        events: data
                    });

                    calendar.render();
                });

                // request.fail(function( jqXHR, textStatus ) {
                //     alert( "Request failed: " + textStatus );
                // });
            });

        });
    </script>
    <style>
        table {
            text-align: left;
        }

        #calendar {
            max-width: 1599px;
            margin: 40px auto;
            /* padding: 0 10px; */
            font-size: 1.0rem;
        }
    </style>

</head>

<th:block layout:fragment="ground-wrap">
    <div class="ground">
        <div class="title1">
            <h1>전체 스케줄 조회</h1>
            <img src="/img/logo1.png" height="80"/>
        </div>
        <div class="main">

        <script src="fullcalendar/lib/locales-all.js"></script>
        <script>
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ["dayGrid"]
                , locale: "ko"
            });
        </script>
</th:block>
</html>